[2017-08-21 12:20] omdemircan commented on #133
On my personal computer, I couldn't manage to use SU2_SOL for unsteady cases in order to obtain Paraview output for all iterations. On the other hand, I don't know how to specify an interval for the Paraview output, as mentioned by @demanosalvas . With the script that I shared, I managed to get desired files by introducing the case as steady and changing the file names for each iteration.

[2017-08-22 19:44] talbring opened #429 "Pressure-based incompressible solver"
Dear all,

I recently had a lot of discussions with people that are interested in developing a pressure-based incompressible solver (like SIMPLE etc.) in SU2. I just wanted to get the discussion started.

Who is willing to contribute ? What applications do you have in mind ?

[2017-08-22 20:32] talbring commented on #133
What version are you using ? Because at least with the latest development version for me also the Paraview output for unsteady problems works fine.

[2017-08-22 20:36] talbring commented on #133
You can use the option WRT_SOL_FREQ_DUALTIME to specify an interval for the output.

[2017-08-23 06:43] omdemircan commented on #133
I am using SU2 V5. I have been using SU2 for less than 6 months now and the SU2_SOL command doesn't work in parallel for me, it gives a segmentation fault error. Otherwise, I managed to run it in serial as of yesterday but I have to change restart files names to solution file names and make sure the config file restart input matches the first iteration file name.
Secondly, by interval I meant solu

[2017-08-23 21:50] EduardoMolina commented on #429
Dear Tim,

I think it is good one. But we should keep in mind that we already have OpenFoam available which is a very good open-source solver for this type of flows, but I do not think it has an Adjoint solver. Please correct me if I am wrong.

Best,

Eduardo.

[2017-08-28 19:08] clarkpede opened #431 "Segfault when running problem with periodic boundary conditions"
When I run a mixing-layer problem with periodic boundary conditions, I get a segfault while saving the file. I checked out the most recent develop branch, and I get the same problem.

It may be that I messed up the periodic boundary conditions.  I'm still learning how to use them in SU2, and I may have made a mistake.  But even if my *.cfg files are set up wrong, I should get a runtime error messa

[2017-08-29 06:12] economon commented on #431
@clarkpede: the periodic BCs are something we are working on (we know there are issues). However, thread #416 may be helpful to check.

[2017-08-29 14:32] clarkpede commented on #431
Thanks for the response.  I did see that thread, and the discussion there was useful.  Please keep me in the loop as you fix the bugs in the periodic BCs.

[2017-09-04 08:50] vdweide commented on #429
Hi Tim,

In collaboration with the Energy Centre Netherlands (ECN) we are interested in participating in the development of a pressure-based incompressible solver. The applications we have in mind are all related to wind turbines, for which compressible solvers perform relatively poorly.

We realize that OpenFOAM is very much capable of carrying out such simulations, but the motivation for develop

[2017-09-04 15:01] salvovitale commented on #416
Dear @fpalacios and @economon,

I would like to add the su2perio fortran program to the MeshTools repository. Could you please give me access to it? I tried to push it, but apparently I do not have the right to push on that repository.

Regards

Salvo

[2017-09-05 09:54] kmguleren opened #434 "Averaging of flow parameters for URANS"
Hi,

Is there a way to get the average and RMS of flow parameters like velocity, pressure, temperature when we run URANS cases?

Many Thanks,

[2017-09-05 20:26] vdweide commented on #399
How do you specify that wall functions have to be used? Is there a general boolean flag, e.g. UseWallFunctions, or is it organized per marker? Is there an example of a cfg file how this is done? The reason for asking is that for WM-LES for the high order solver we need the same info and it would make sense to do the specification identically, if possible.

[2017-09-05 21:07] economon commented on #434
@kmguleren: you can find a version of the code that has this capability in the following branch,

https://github.com/su2code/SU2/tree/feature_AvgRMS

which has been worked on in collaboration with @EduardoMolina for DDES mainly. Note the changes in the most recent commits, which are mostly in solver_direct_mean.cpp and output_structure.cpp. Should be straightforward to recreate or copy until we ca

[2017-09-05 21:10] economon commented on #416
@salvovitale: just added write access for the developer team. Please try again when you have a moment.

[2017-09-05 21:27] economon commented on #399
@petebachant: the paper that I linked earlier on this thread had some fairly simple examples similar to the one you propose.. different flat plates and so on with varying y^+. You can likely reuse the grid(s) in the TestCases repo.

@vdweide: it was very simple in this first implementation. It checks for a single boolean for whether or not to apply wall functions (WALL_FUNCTIONS= YES or NO, https:

[2017-09-05 21:49] juanjosealonso commented on #399
All,

Regarding the wall function specification, if we are going to settle on a standard way that could work for both the FV and DG-FEM solvers, it might be good to think about some modifiers that can later allow for a generality of approaches.

We can make a distinction between wall functions and wall models, but this is subject to discussion…in essence both are performing similar duties, but peo

[2017-09-06 04:58] vdweide commented on #399
Juan,

I think that having the flexibility to apply wall functions on only a subset of the viscous wall boundaries would be useful. E.g., if you are interested in a wing, you can apply integration to the wall there, but apply wall functions on the fuselage. My preference would be to have a dedicated BC type for that, i.e. Tom's second suggestion.

Apart from this, we can have the different wall mo

[2017-09-06 05:16] juanjosealonso commented on #399
Edwin,

I think it is a good idea to be able to have some level of control over the application of the wall functions on a marker-by-marker basis: as you say, it would be fairly common to have a wing marker where integration to the wall makes sense and a fuselage marker where wall functions (or even an inviscid BC) is the right thing to do.  So let’s indeed do something like what Tom suggests (in

[2017-09-06 06:40] vdweide commented on #399
What about generalizing the MARKER_MONITORING approach a bit, where the markers have an argument what type of wall function to apply, i.e.

MARKER_WALL_FUNCTIONS= (Wing, STANDARD_WALL_FUNCTION, Fuselage, ADAPTIVE_WALL_FUNCTION)

Would that be an option? For clarity we could actually add NO_WALL_FUNCTION as well, or do you think that is not necessary?

Edwin

[2017-09-06 08:18] salvovitale commented on #416
Thanks @economon, now the SU2_PER is available within the MeshTools repository.

cheers

sv

[2017-09-06 14:31] juanjosealonso commented on #399
I am ok with that idea.  Tom, does it create the expectation that other lists would be handled the same way?  If not, let’s go with it.

Cheers,

Juan

On Sep 5, 2017, at 11:40 PM, Edwin van der Weide <notifications@github.com<mailto:notifications@github.com>> wrote:

What about generalizing the MARKER_MONITORING approach a bit, where the markers have an argument what type of wall function to appl

[2017-09-07 05:45] vdweide commented on #399
Juan,

I don't think that is an issue. I'll create a PR in develop for the input data, such that it can be merged into both the FVM and FEM solvers.

Edwin

[2017-09-08 10:05] vdweide opened #437 "Multi-stage time integration schemes for multiple zones"
There is an issue for time accurate simulations with multi-stage time integration schemes in combination with multiple (fluid) zones. The reason is that the loop over the multiple (usually Runge-Kutta) stages takes place in the function CMultiGridIntegration::MultiGrid_Cycle, while the loop over the zones is carried out in the drivers. Hence the loop over the (Runge-Kutta) stages takes place insid

[2017-09-09 12:25] salvovitale commented on #437
Dear @vdweide,

I clearly see  your point. However, this can be quite a big structural change of the code and I think we should plan very well how to address this issue.

The reason of having a driver class was to facilitate the extension of SU2 to multi-physics applications both for analysis (direct solver) and design (adjoint). Thanks to the high level of abstraction of the  CInterpolator,  CTra

[2017-09-09 20:38] vdweide commented on #437
Dear @salvovitale,

I realize that it requires significant changes in the code structure and I don't have a clear answer how to do this, also because I don't know all the details of the implementation of the multi-physics simulations.

The only thing I do know is that the loop over the zones must be inside the loop over the RK stages, at least for the fluid zones. Whether this is also the case for

[2017-09-10 13:03] rsanfer commented on #437
Dear @vdweide,

I do see your point as well, in fact I remember that I raised my concerns about this when the multi-physics driver started to be used for multi-zone, single physics problems. Unfortunately, moving down the loop in the zones would break the FSI solver, and also the FSI coupled adjoint solver that we have put together, so I have to advise otherwise.

When we first put together the Dr

[2017-09-10 20:09] vdweide commented on #437
Dear @rsanfer,

I agree with you that the outer loop should be the loop over the number of physical disciplines involved in the problem and not the zones. Whether the individual disciplines contain one or multiple zones is irrelevant at this level, in my opinion. The loop over the multiple zones of a single discipline should take place at a much lower level, namely where the spatial residual is co

[2017-09-11 02:59] juanjosealonso commented on #437
All,

For whatever it is worth, here are some thoughts.  It is clear that we need to strike the right level and hierarchy of abstraction: at the highest level one really ought to be describing the physical problem, not the number of zones or the specific time-stepping algorithm that would be used.  But preventing future multi-zone calculations from reaching the (time) order of accuracy desired is

[2017-09-11 07:28] vdweide commented on #437
Juan,

Indeed, it is desirable that at the highest level the details of the time integration scheme and number of zones per discipline should not be visible. The question is whether that is achievable for all combinations you can think of. This is especially the case for the time integration schemes.

E.g. suppose you would like to use a multi-stage time integration scheme for a multi-physics prob

[2017-09-12 19:35] GomerOfDoom commented on #399
Hi guys,

Somehow these ended up in my Clutter folder, so I missed them. Of course, I’m fine with whatever you guys think is best.

My thoughts, prior to reading this chain, were that we would use separate boundary conditions for each surface. I.e. we would have different markers for each wall modeled BC. For example:

MARKER_WM_1D_EQUIL=(body, thickness, other params, etc)

MARKER_WM_1D_NON_EQUIL

[2017-09-13 07:05] vdweide commented on #437
BTW, all of the above also applies for the grid motion parameters. This should also happen inside the loop over the number of stages of the time integration scheme and currently this is done outside this loop.

Edwin

[2017-09-13 07:06] economon commented on #437
Hi all,

This is definitely good discussion... everything goes toward multi-physics nowadays, so we should always be improving the class design accordingly. I suppose this will just get more important with adding more physics, zones, and more complex time integration schemes.

I would like to highlight that when the code was first released, we did not have "zones" at all (not until some early slid

[2017-09-13 08:30] vdweide commented on #437
Hi Tom,

Sounds like a plan then to have a look at CIntegration to see what we can do to generalize the time integration. I definitely want to help with this, but I don't think I am the appropriate person to take the lead, because I simply don't have a good overview of all the multi-physics options. Tom, are you willing to take the lead for this?

Furthermore, it is good to have other people invol

[2017-09-13 12:04] talbring commented on #437
Hi all,

as with the restructuring of the output classes, we should find a common level of abstraction for all the different physical problems we might want to have.

Right now there isn't even a unified way of specifying the kind of problem for each zone (what is fluid, what is solid etc) and the kind of coupling. This might also affect the actual implementation/restructuring since we somehow hav

[2017-09-14 07:20] economon commented on #399
In case others are interested, I was going through old papers, and I found the following one that was very helpful for the preliminary version of wall functions for the FV solver (feature_Wall_Functions branch):

Nichols, R. H., Nelson, C. C., "Wall Function Boundary Conditions Including Heat Transfer and Compressibility," AIAA JOURNAL, Vol. 42, No. 6, June 2004.

[2017-09-14 10:36] vdweide commented on #399
The PR about the input specification for wall functions is closed for now, but it does not mean that we cannot continue the discussion. The question is how to handle the necessary input parameters for the different wall models. First option would be to add them as additional arguments when the type of wall model is specified. However, this could lead to a rather messy input. A different option wou

[2017-09-28 06:03] timjim333 opened #446 "Bug in preconfigure.py in 5.0.0 Raven"
Hi. I'm not sure if this is the best place to post this but there appears to be a problem with the way arguments are handled in the preconfigure.py file within Raven. I am trying to install SU2 with AD support and following the install documentation online, I have the following bash command (I'm running Ubuntu 16.04):

`export CXXFLAGS="-O3" && python2.7 ./preconfigure.py --enable-autodiff --prefi

[2017-09-28 06:33] timjim333 commented on #446
It seems that the options list I have provided somehow confuses the PassThroughOptionParser as the args given by `(options, args)=parser.parse_args()` are already mixed.

`_long_opt {'--enable-mpi': <Option at 0x7f21da7ff908: --enable-mpi>, '--enable-autodiff': <Option at 0x7f21da7ff7e8: --enable-autodiff>, '--replace': <Option at 0x7f21da7ffa28: -r/--replace>, '--revert': <Option at 0x7f21da7ffab

[2017-09-28 06:33] #446 closed

[2017-09-28 06:37] timjim333 commented on #446
Apologies - one of my arguments (-with-SZIP-include) was mistakenly given a single - instead of a double --. Regards.

[2017-09-28 07:17] timjim333 opened #447 "Error in AD install for 5.0.0 Raven with libSU2Core.a"
Hi, I'm trying to install SU2 5.0.0 Raven on my Ubuntu with AD support. Following the documentation, I ran preconfigure.py with the following options:
`export CXXFLAGS="-O3" && python2.7 ./preconfigure.py --enable-autodiff --prefix=/opt/SU2/SU2v5.0.0 --enable-mpi --with-cc=/opt/openmpi/openmpi-3.0.0/bin/mpicc --with-cxx=/opt/openmpi/openmpi-3.0.0/bin/mpicxx --enable-PY_WRAPPER --with-HDF5-lib=/opt

[2017-09-28 08:10] talbring commented on #447
Indeed thats a bug when you enable the python wrapper... I am gonna solve this soon. For the time being just compile the normal and AD binaries separately by going to SU2_BASE and SU2_AD and `run make install` in each of them. You should see the same error again in SU2_AD, but you can ignore it, everything should have been compiled fine.

Best,
Tim

[2017-09-28 08:18] timjim333 commented on #447
Thanks for the update - I'll give it a go and get back to you. Are there any tests I can run to check functionality once complete?

Kind regards,
Tim

[2017-09-28 08:30] timjim333 commented on #447
For the SU2 make install, I did not manage to successfully complete the installation, I've attached the output in the text file. Meanwhile, I'll the give AD build a go. Thanks again.
[BASE_make_install_error.txt](https://github.com/su2code/SU2/files/1340083/BASE_make_install_error.txt)

[2017-09-28 08:32] timjim333 commented on #447
The AD install also seems to have failed - did both actually 'successfully' install?

[AD_make_install_error.txt](https://github.com/su2code/SU2/files/1340097/AD_make_install_error.txt)

[2017-09-28 08:47] talbring commented on #447
If you look at the error in SU2_BASE it says `Error: Unable to find 'mpi4py/mpi4py.i'`. It seems like mpi4py is not properly installed on your machine. The error in SU2_AD can be ignored.

[2017-09-28 10:11] tobadavid commented on #447
Indeed, the compilation with AD support is not compatible with the Python wrapper yet. If you are not interested in using the wrapper, just remove the --enable-PY_WRAPPER option and it should be OK.

In general, if you want to compile SU2 with the wrapper in parallel, mpi4py has to be properly installed on your system. As the wiki says, the easiest way to install it is by using python-pip (example

[2017-09-29 04:42] timjim333 commented on #447
Thanks for your thoughts. I've been working on the mpi4py install [here](https://bitbucket.org/mpi4py/mpi4py/issues/78/openmpi-based-mpi4py-runtestspy-error) and I thought I had finally installed mpi4py correctly. I can see the missing file located  in `~/anaconda3/lib/python3.6/site-packages/mpi4py/include/mpi4py/mpi4py.i` - is there a flag I can set in the install script to direct the installer

[2017-09-29 06:32] timjim333 commented on #447
I've realised that it might be because my mpi4py installation is within python 3.6.
preconfigure.py seemed to be written python 2.7 but now I think of it, I had not installed mpi4py for my python 2.7 install. Can I use the python2to3 tool and run preconfigure.py using python 3? Or would it be better to set up a separate python 2.7 environment?

Eventually, I want to couple SU2 and I was planning o

[2017-09-29 11:21] talbring commented on #447
The problem is that the path where the automake looks for mpi4py is hardcoded at the moment. This will also eventually be changed soon.

A workaround is to add the path manually in `SU2_PY/pySU2/Makefile.am` to the `MPI4PY_INCLUDE` variable. Then run `automake` in the main folder and then the preconfigure script again.

[2017-09-29 11:38] tobadavid commented on #447
Concerning the Python wrapper, everything is currently hardcoded for python2.7 which was my Python environment when I originally introduced the wrapper. PR #424 is fixing this. In the meantime, the workaround proposed by @talbring should work.

[2017-10-02 05:37] timjim333 commented on #447
Hello, thanks for the comments. Can I just clarify that the workaround steps are:
1. Add the path to `SU2_PY/pySU2/Makefile.am`
2. `make install` (not sure which you mean by `automake`)
3. `make distclean`
4. `export CXXFLAGS="-O3" && python2.7 ./preconfigure.py --enable-autodiff ...` with all options
5. Navigate to `SU_BASE` and `SU_AD` and `make install` in each

Is that correct? Many thanks.

[2017-10-02 07:32] timjim333 commented on #447
I looked up automake, compiled and ran automake-1.12.5 in the place of step 2:
`cd /opt/SU2/SU2v5.0.0_src && /opt/automake/automake-1.12.5/bin/automake-1.12`

It didn't give any confirmation but I assumed it worked as I can see the path was added when attempting to run `make install` in `SU_BASE`. However, it still does not seem to find the file, although I can see the file in that location. I've

[2017-10-02 08:20] talbring commented on #447
All the steps you mentioned are correct, but you added the path `/anaconda3/envs/su2/lib/python2.7/site-packages/mpi4py/include` to Makefile.am instead of `/home/tjim/anaconda3/envs/su2/lib/python2.7/site-packages/mpi4py/include`

[2017-10-02 08:38] timjim333 commented on #447
Sorry - in my haste, I missed that...the install now finds mpi4py just fine. Thanks for the help.

On another note, the `make install` fails when searching for what looks a tecplot-related file (output attached [BASE_make_install_error3.txt](https://github.com/su2code/SU2/files/1348289/BASE_make_install_error3.txt) )

This isn't surprising as I don't have Techplot installed but I also did not set

[2017-10-02 09:03] talbring commented on #447
The Tecio library is shipped with SU2. Are you sure you have not modified accidentally something else in `SU2_PY/pySU2/Makefile.am` (for example removing line 84) ? That would be the only explanation I have for now ...

[2017-10-02 09:07] timjim333 commented on #447
Those few lines in my `Makefile.am` look like this:

#External libraries (METIS_LIB and PARMETIS_LIB are already defined)
TECIO_LIB =
if BUILD_TECIO
	TECIO_LIB += ${abs_top_builddir}/externals/tecio/libtecio.a
endif

Maybe it's better for me to attach the file:
[Makefile.am.txt](https://github.com/su2code/SU2/files/1348376/Makefile.am.txt)

[2017-10-02 09:21] talbring commented on #447
Your text editor replaced the white spaces at the beginning of a line with tabs. However, automake interprets tabs as build rules which is not what we want ... So check out the original version of the file using `git checkout SU2_PY/pySU2/Makefile.am` and make sure that all the options to correct whitespaces are switched off in your editor before opening and modifying the file.

[2017-10-03 06:40] timjim333 commented on #447
Thanks for that - I didn't realise that my copy of emacs was doing the replace on saving. I made the edit then reran the above steps. It seems that SU2_BASE now installs fine and SU2_AD only presents the initial error. I assume this means SU2 is up and running? I'll try some test cases to confirm. Thanks for the support!

[2017-10-03 06:40] #447 closed

[2017-10-03 14:44] RoccoBombardieri opened #449 "Possible bug in python FSI routine FSIInterface.py"
Hello,

I detected a bug trying to launch the routine fsi_computation.py. As it is, the code doesn't work and crashes with an error saying that in FSIInterface.py the function call (setSolidInterfaceLoads):

**SolidSolver.applyload(iVertex, Fx, Fy, Fz, time)**

only requires 5 input arguments (not 6).

A deeper investigation showed that in PitchPlungeAirfoilStructuralTester.py the function is so d

[2017-10-03 15:29] tobadavid commented on #449
Hello,

May I ask which version of the code do you use and on which branch ? In fact, this bug (and it was not the only one) was already fixed a few days ago on the branch feature_pyWrapper. You may pull those new changes just to be sure to have a clean version. Otherwise, I would not trust the results.

The reason why the FSI Python tool (note the distinction with the SU2 Python wrapper, which is

[2017-10-04 13:39] RoccoBombardieri commented on #449
Hi David,

Actually I was using the first official release of the Raven version of SU2 (I think released at the end of this February). I'm mainly interested in the python tools of the package as I'm dealing with fluid structure interaction. Thank you so much for the advice, hope the branch you suggested me is ok for my purposes!!

Best,

Rocco

[2017-10-05 20:59] vdweide commented on #437
I had a discussion with @economon today and we agreed that the best thing to do is to implement the multi-zone, multi-stage stuff in a separate driver for now. In this way the current functionalities will not be harmed. If the implementation of the new driver is successful we may consider changing other drivers as well.

Thanks for the discussion on this issue,

Edwin

[2017-10-05 20:59] #437 closed

[2017-10-12 01:13] zjulml opened #453 "How to install the software?"
The computer system must be linux? I can not find exe in Windows7.

[2017-10-13 08:54] talbring commented on #453
Linux is definitely preferable if you want to use SU2. However, pull request #450 introduced some changes in order to successfully compile it under windows. Just follow the steps in the link that is posted there and then the steps in the [wiki](https://github.com/su2code/SU2/wiki/Build-from-Source).

[2017-10-16 21:58] clarkpede commented on #431
This bug pops up because the periodic mesh reconstruction (in `SU2_MSH`) doesn't always create a valid mesh in 3D.  Some points disappear, and some points are duplicated.  When `SU2_CFD` (specifically, `CPhysicalGeometry`) tries to get the number of points in the domain, it calculates the wrong number because some of those points are duplicated.  That leads to segfaults, because the output routine

[2017-10-19 08:40] koodlyakshay commented on #416
Hi, @salvovitale,
Thanks a lot for the script. It works quite well for me.
Just a very small suggestion - When writing out the marker tags in the mesh output file(subroutine write mesh, line 869) it appears that you have restricted the output to just 10 characters. Might cause some problems if the tags are a bit longer.
Cheers,
Akshay

[2017-10-20 10:17] vdweide opened #454 "Bug in CSourceAxisymmetric_Flow::ComputeResidual"
I am trying to run an axi-symmetric case with a time stepping scheme (basically SOD's problem), which fails in CSourceAxisymmetric_Flow::ComputeResidual. The reason is that the boolean implicit is determined as follows

bool implicit       = (config->GetKind_TimeIntScheme_Turb() == EULER_IMPLICIT)

However, this must be config->GetKind_TimeIntScheme_Flow, right?

Furthermore, the small y-coordinat

[2017-10-23 19:51] economon commented on #454
@vdweide: yep, definitely a bug. Only the mean flow solver uses that routine. Please feel free to clean this up. I would also like to update the version for the incompressible solver (I think it needs a fix or two)... but we'll get to that after your changes.

[2017-10-24 04:46] vdweide commented on #454
OK, I'll do that. And as far as I can see it, also the viscous contributions to the axi-symmetric source terms are missing.

[2017-10-24 09:49] vdweide commented on #454
I just created the PR for this.

[2017-10-24 09:49] #454 closed

[2017-10-24 14:16] #449 closed

[2017-10-24 14:30] RoccoBombardieri opened #457 "Parallel run of the python routine fsi_computation.py"
Hello,

I'm pretty new to python and, in general, to the logic of parallel computation.
I'm trying to run in **parallel** the routine fsi_computation.py. Even if (as much as I noticed) the parallel computation feature is already built in the structure of the code I'm not able to do it. Moreover, I find the structure of the routine sensitively different than the one of parallel_computation.py in wh

[2017-10-24 15:17] tobadavid commented on #457
Hi,

The structure of fsi_computation.py is completely different from the one of parallel_computation(_fsi).py, this one is just a script that, if I am right, will set for you the commands in order to launch SU2_CFD in parallel and SU2_SOL right after. It is based on system calls ( it is like calling mpirun -np xx SU2_CFD SU2conf.cfg and mpirun -np xx SU2_SOL SU2conf.cfg).

The fsi_computation.py

[2017-10-25 07:23] economon opened #459 "TestCases Repo Regressions in Travis CI"
All: I have temporarily disabled the regressions for the TestCases repository (the main SU2 repository regressions are still active). The time limit for that repository is only 50 min., as opposed to the 70 min. that we received for the SU2 repo by special request, so it fails essentially every time due to exceeding the limit.

Rather than maintain a separate repository in Travis CI for the TestCa

[2017-10-25 09:44] RoccoBombardieri commented on #457
Thanks David! (for the second time! :) )
Rocco

[2017-10-25 09:44] #457 closed

[2017-10-25 11:40] petebachant opened #460 "Add script to convert OpenFOAM meshes to SU2"
Someone has written an open-source one to start from here: https://www.cfd-online.com/Forums/su2/127445-tool-convert-openfoam-mesh-su2-mesh-2d-3d.html

[2017-10-26 17:59] economon commented on #459
As a second note: we are aware that even the 70 min. time limit is causing problems for new PRs and other branches that are using Travis CI individually.

One option is to "parallelize" the builds by decomposing the current regression scripts into more scripts with fewer tests each. However, this only addresses part of the problem, as the compilation step is taking the most time and is currently d

[2017-10-26 18:09] petebachant commented on #459
How about making the test cases repo a submodule of SU2, such that when the submodule is updated Travis will be triggered?

[2017-10-26 18:10] vdweide commented on #459
I don't know all the restrictions of Travis, but wouldn't it be an option to carry the compilation in parallel, i.e. make -j#Procs?

[2017-10-26 20:59] economon commented on #459
@petebachant: interesting idea.. do you know if this is possible? I thought that submodules were mostly static links to particular tags of a repo, but this could be a good way.

@vdweide: yes, the machines that Travis CI uses for running open-source projects are fairly small linux boxes with 2-4 cores. Going higher than 'make -j4' won't do much (this is what we do). More ideas along these lines wo

[2017-10-26 21:05] petebachant commented on #459
I think it is possible, but there may need to be some renaming to deal with the fact that there's already a `TestCases` directory. One benefit of using a submodule is that an exact commit of the test cases repo can be tied to each SU2 commit. Also, I think Travis by default recurses submodules when cloning.

[2017-10-27 11:45] petebachant opened #462 "Write tests to be compatible with pytest"
This will provide a lot of power and flexibility. For example, if doing local development, only the tests that failed last could be run with `pytest --lf`. To make the tests compatible, they can be wrapped into functions with a `test_` prefix, then called from the command line with, e.g.,

    pytest TestCases/serial_regression_AD.py

To select and run only one test:

    pytest TestCases/serial_r

[2017-10-27 11:58] petebachant opened #463 "Use setuptools to install SU2 Python package and scripts into Python environment"
Having to run `make install` and put `SU2_PY` on the path manually is sort of a pain and misses out on some of the convenient features of `setuptools`, e.g., installing with `pip` in editable mode with the `-e` flag, to allow development work to be done without the install step.

[2017-10-29 13:44] LeyiChai opened #465 "Test CUSP scheme in QuickStart's mesh"
I'm a junior student and a new CFDer.
I'v been testing upwind scheme in QuickStart and found that CUSP scheme diverged. Below is some important configuration information
Firstly I just changed convective scheme of "inv_NACA0012.cfg" in QuickStart to CUSP and SU2 diverged directly. Configuration information lies below.(CFL = 4.0)

MACH_NUMBER= 0.8
%
% Angle of attack (degrees)
AOA= 1.25
%
% -------

[2017-10-29 15:04] LeyiChai commented on #465
And I want to know which configuration is suit for this condition, thanks~

[2017-11-02 09:26] dassoumen0609 opened #466 "Monitoring Pressure values on some specified points"
A new feature of monitoring pressure (or any parameter) values on some specified arbitrary points given by users in case of unsteady simulation. This feature is required for our requirement. I'd implemented this feature for a older one and using a 3rd party library called ANN (Approximate Nearest Neighbor). I wanna know whether implementation using such library can be merged with master version? A

[2017-11-02 10:26] #453 closed

[2017-11-03 05:09] economon commented on #466
Hi Soumen: yes, this is something that the developers are actively working on at the moment (in particular, @sravya91 has been taking the lead on this). It is true that most of the ingredients are already available in SU2 (fast searches, interpolation routines, etc.), but the trick is combining them all and making it general.

Do you have any other requirements beyond simple probes? I am guessing

[2017-11-03 19:27] clarkpede opened #467 "Add the option to specify an inlet profile from a table of values"
This is a feature request based on [some previous discussion](https://github.com/su2code/SU2/commit/61e810d4459ba56879d90b997c25723819f8352b#comments) on the `feature_inletprofile` branch.

I've got a working prototype on [a branch](https://github.com/pecos-hybrid/SU2/tree/feature_inletprofile_file) off of my group's fork.  Here's a few key points:

+ _Data structures to store the inlet conditions

[2017-11-06 08:52] koodlyakshay opened #468 "Incompressible rotating reference frame issues"
Hello,
When using the rotating reference frame option with incompressible flow the code blows up immediately. There appears to be two issues -
1. Omega_ref is not initialized in the SetNondimensionalization subroutine in solver_direct_mean_inc.cpp. In the compressible version, it is defined as Velocity_ref/Length_ref whereas no definition exists in the incompressible one.
2. Since all the definiti

[2017-11-06 19:53] sravya91 commented on #466
Hi Soumen,

As Tom said, the routines are all in place and I have been putting them
together for solution interpolation from one mesh to another for unsteady
simulation as post-processing step. So probing at a particular location for
unsteady solution can be also done with this framework. The probe search
implementation is in place for 2D configuration currently. It will be
extended to 3D and prob

[2017-11-06 21:41] alexfeld opened #469 "Multiple runs launched with parallel_computation.py"
When using `srun` version 15.08.7 `parallel_computation.py` launches `-n` instances of my SU2 call rather than one instance of SU2 with `n` processes. This does not happen with `srun` version 2.6.5. I fixed this issue by commenting out the line in `interface.py` that calls `srun` if a SLURM jobID number is in the environment variables. This causes `parallel_computation.py` to call `mpirun`, which

[2017-11-07 01:45] economon commented on #468
Hi Akshay:

Both issues are certainly true, plus there are even more problems :). At the moment, the incompressible solver does not have an implementation of the ALE terms needed for grid motion cases, and it is likely that the rotating source term should be double-checked. We are in the midst of a big update to the incompressible solver as we speak though, and this is on the list.

First, can you

[2017-11-07 02:14] economon commented on #467
Great progress, thanks @clarkpede !

As for your notes, some thoughts:
- I think you are already doing this but just in case... manually specifying the info at each node can be made a little easier by automatically generating the files for the first time if they don't exist at runtime. We had code that would do this for the grid motion case, and perhaps you can reuse it to generate inlet profile f

[2017-11-07 19:24] economon commented on #462
This is very interesting, since I often find that I am commenting out most of the python regression script when debugging only a couple of tests locally.

Can you estimate how much work this would be? Is it just a simple wrapping of what we already have? We would also have to make sure that Travis CI can handle it.

[2017-11-07 22:32] economon opened #470 "2nd Annual SU2 Developers Meeting"
Dear Developers,

Here is a good "issue" for a change :). This post is an announcement for you all to save the date:

**2nd Annual SU2 Developers Meeting
December 18-19, 2017
Stanford University Campus**

The first day will feature public presentations, and the second day will contain discussion about future direction, strategy, etc.

You are all invited to participate, either remotely through a v

[2017-11-08 01:11] petebachant commented on #462
It would simply take some reorganizing of the test scripts to make one function per case and maybe renaming the `TestCase` class to `RegressionTestCase` or something. For example, I rewrote one of the tests in `serial_regression.py` here: https://github.com/petebachant/SU2/commit/fe0ee432c67540067046fbebf9889660331a6592

Then I could run this with

    $ cd TestCases
    $ pytest serial_regression

[2017-11-09 08:49] koodlyakshay commented on #468
Hi Tom,

I would like to work on the ALE and rotating frame implementations for incompressible solver. Under Edwin's guidance I have been looking at SU2 closely over the past few months and, as you might have heard from him, we are looking to implement a pressure based scheme.

Also, could you tell me more about what are the changes you are planning for the incompressible solver?

Thanks a lot.
Re

[2017-11-12 15:06] EduardoMolina commented on #470
Dear Developers,

If it is possible, I would like to present to the SU2 community my work on Hybrid RANS/LES  implementation focus on Grey Area Mitigation methods. Unfortunately, Stanford is at a long distance from Brazil and I think I will need to participate remotely :).

Thank you very much for this absolutely great and very active open-source community.

Regards,

Eduardo.

[2017-11-13 18:14] economon commented on #470
We now have an official registration form for the meeting. Please fill out the form when you have a moment:

[2nd Annual SU2 Developers Meeting Registration](https://docs.google.com/forms/d/e/1FAIpQLSeUqZmTvRL2PJ4a_nSSECpnlSvrBfm5E5D01qHl6Bd_pbJk4A/viewform?usp=send_form)

Apart from basic participation information, there is a question to specify whether you are interested in presenting your work

[2017-11-16 09:51] koodlyakshay commented on #470
Hi Tom,

I am planning to attend the meeting and I need to apply for a visa. Could you give some details about whom to contact for the official invite letter?

Regards,
Akshay

[2017-11-17 11:11] talbring commented on #469
You can override the command that is used to launch parallel jobs by setting the environment variable `SU2_MPI_COMMAND`. For example on our cluster I had to force it to use the usual mpi command with `export SU2_MPI_COMMAND="mpirun -n %i %s"`, otherwise it tried to use `srun` which didn't work with our setup.

[2017-11-20 14:03] koodlyakshay commented on #429
Hello all,

As a first step towards developing the pressure based system, I was looking at the Poisson solver currently in the code. Is there any active development going on in Poisson problem. From what I understand it was developed for electric potential problems.
Is there some documentation or test case?

Cheers,
Akshay.

[2017-11-21 22:24] yukaiweng opened #474 ""NON" binary file writing error at DDES developing version."
Dear Team SU2,

 I've downloaded and compiled the latest developing version of SU2 with DDES feature.
However, since I need to read the solution file in the non-binary format for further process.  I both set NO at WRT_BINARY_RESTART and READ_BINARY_RESTART option.
However, when I open the non-binary restart file, say by excel, some solution values are merged into the wrong column or just missing.

[2017-11-22 10:49] ZenBel opened #475 "adjoint.dat residuals all equal zero"
Hello,

all the residuals in the adjoint.dat file written after running a continuous adjoint simulation ( with the option WRT_RESIDUALS= YES) are zero.

Here are the config file and mesh for the QuickStart example which also has this problem
[files.zip](https://github.com/su2code/SU2/files/1495681/files.zip)

[2017-11-22 11:13] talbring commented on #474
It looks like the file you provide was already preprocessed by some text editor. Can you provide the original file to see if there is something wrong ?

[2017-11-22 20:52] yukaiweng commented on #474
Hello Talbring,

Thanks for your replying. The original file is attached.

[restartfile.zip](https://github.com/su2code/SU2/files/1497438/restartfile.zip)

[2017-11-22 20:52] #474 closed

[2017-11-22 22:06] yukaiweng commented on #474
Hello Talbring,

Thanks for your replying. I put some sample original non-binary file which has mislocated or missing data, and cannot be read as restart file in google drive [here.](https://drive.google.com/drive/folders/1kmAqTV-HyHH6y2o1zxPVLEJ5pU2LRebl?usp=sharing)

Another bad written non-binary file is attached.
[badfile.zip](https://github.com/su2code/SU2/files/1497587/badfile.zip)

Thank yo

[2017-11-23 14:38] cwcatkins opened #476 "Broken links - Example mesh generation files."
Hi,

I have just tried to download square.cpp from the page:

https://github.com/su2code/SU2/wiki/Mesh-File

however, get a "Not Found" 404 error. Is this file still available?

Kind Regards,

Chay

[2017-11-23 21:30] economon commented on #476
Thanks for letting us know - the links are now fixed! Take care,
Tom

[2017-11-23 21:30] #476 closed

[2017-11-23 23:05] economon commented on #475
Hi @ZenBel,

Thanks for the notice. You can fix this quickly by replacing the line

`LinSysRes.SetBlock_Zero(iPoint);`

with

`if (!Output) LinSysRes.SetBlock_Zero(iPoint);`

in CAdjEulerSolver::Preprocessing() for Euler or CAdjNSSolver::Preprocessing() for N-S within the file solver_adjoint_mean.cpp.

We will fix this up properly in the source soon. Please reopen the issue if this doesn't fix the

[2017-11-23 23:05] #475 closed

[2017-11-26 19:17] yukaiweng opened #477 ""NON" binary file writing error at DDES developing version."
Dear Team SU2:

Apologize for the re-post this issue since I accidentally closed the last one.

I've downloaded and compiled the latest developing version of SU2 with DDES feature.
However, since I need to read the solution file in the non-binary format for further process. I both set NO at WRT_BINARY_RESTART and READ_BINARY_RESTART option.
However, when I open the non-binary restart file, say by

[2017-11-27 02:59] economon commented on #477
@yukaiweng: no problem on the repost. A couple comments...

1. I am not able to reproduce the problem on my mac, but I have a suspicion that the line endings in the text files could be causing an issue. Are you working on Windows? There may be a problem with the line endings that can resolved by using the "dos2unix" or "unix2dos" utility on linux that can format the file in the correct direction.

[2017-11-27 16:48] yukaiweng commented on #477
@economon Hello Dr. Economon, thank you very much for the replying.

1. I tried using unix2dos to convert the file attached to the previous post, but the problem remains as picture shown (attached and highlighted) and these non-binary files cannot be read in SU2 when running restart simulation. Is it possible I did not configure it correctly during the installation?
My configure command is: "./con

[2017-11-27 17:47] clarkpede opened #478 "What does the LAPACK compile option actually do?"
When compiling SU2, it appears the LAPACK can be used for some linear solver routines.  There's a optional compile flag `--with-LAPACK-lib` and a `LAPACK support:       no` readout. There's even a comment in the configure.ac file: `LAPACK connection added by Teus van der Stelt, 11/13/2014`

However, I can't find any code at all that uses LAPACK.  At least, there aren't any sections that switch on

[2017-11-28 20:00] gmandrews opened #479 "Poor Initial Grid Distribution (ParMETIS Issue)"
I am having issues with grid partitioning for a large case I am trying to run in parallel. I have a 3D grid for a sharp cone with 86 million cells, and I suspect that I am running into a memory issue with ParMETIS. I get a series of errors of the form "PARMETIS ERROR: Poor initial vertex distribution. Processor 384 has no vertices assigned to it!" and then this message at the end of partitioning:

[2017-11-29 16:23] talbring commented on #478
LAPACK is currently not used at all ... we probably need to clean up the configure script at some point.

[2017-11-29 16:35] vdweide commented on #478
I use LAPACK as well as BLAS in the DG solver. As we plan to merge the DG solver into the develop version, I suggest we leave it in.

[2017-11-29 16:40] rsanfer commented on #478
We recently had a student who had to use LAPACK for new interpolation schemes. His work was great, so from our side it's also worth leaving it in, as we might want to merge that in eventually.

[2017-11-29 17:12] talbring commented on #478
Didn't know that :) So the `--with-LAPACK-lib` option actually still works? Then we can definitely leave it in.

[2017-11-29 17:40] clarkpede commented on #478
Ok.  Thanks for the clarification.

[2017-11-29 17:40] #478 closed

[2017-11-29 18:02] rsanfer commented on #478
In our case, he added the libraries himself and I believe he did some stuff in the configure file in his fork, so I wouldn't be sure whether the `--with-LAPACK-lib` option works as is.

[2017-11-29 18:02] economon commented on #479
Hi @gmandrews: we have been working hard on issues related to the partitioning / memory, and we have a branch that is under testing and nearly complete. Can you please try your case with the branch here, when you have a moment, to see if the performance is any better?

https://github.com/su2code/SU2/tree/fix_partitioning

[2017-11-29 18:08] vdweide commented on #478
Same for me.

[2017-11-29 21:20] gmandrews commented on #479
Thanks for the quick response! I tried again and had the same issue.

[2017-11-29 22:49] demanosalvas commented on #479
HI @gmandrews I have been running really large cases lately (~100M cells in over 1000 processors) and there are some issues when you go above ~1000 processors due to the mpi calls. @economon has been working of fixing this in the branch that he mentioned, but looking at the info you are providing, I think your problem is with PARMETIS. Can you make a clean build of everything? Up to what size grid

[2017-11-30 17:09] gmandrews commented on #479
@demanosalvas that's good to know; it seemed like a ParMETIS issue to me, as well. SU2 seems to build all right, and I have successfully run up to 25M cells with 640 processors.

[2017-12-04 22:41] demanosalvas commented on #479
@gmandrews did you try a clean installation of SU2 and ParMETIS yet?

[2017-12-05 16:13] gmandrews commented on #479
@demanosalvas I tried a clean build of the branch which @economon suggested but experienced the same problem.

[2017-12-05 21:07] brada4 opened #481 "Ability to link to alternate LAPACK libraries"
Could it be possible to alter configure system to allow different lapacke as your user wanted here:
https://github.com/xianyi/OpenBLAS/issues/1383
Also since we talk about linking statically tens of megabytes of blobs into final module - could the (user-specified) LAPACK library (optionally or by default) get imported dynamically?

[2017-12-06 04:37] timjim333 commented on #447
Sorry, not sure if this is the best place to ask this but after closing this, I am now trying to do the same AD build on my local supercomputer. During the part where I do a `make install` in SU_BASE, I get the following error: [make_error.txt](https://github.com/su2code/SU2/files/1533904/make_error.txt)

Can you give a pointer as to what might be up?

[2017-12-06 09:55] tobadavid commented on #447
As the error message says, it cannot find "Python.h". This is again related to the Python wrapper compilation. If you really don't need it, I suggest you to just disable it when configuring your build (remove --enable-PY_WRAPPER). If you need the Python wrapper and if your Python is not located in a standard location on your supercomputer, you will have to manually modify the SU2_PY/pySU2/Makefile

[2017-12-07 07:48] economon commented on #459
The short term fix for reducing the Travis build time for the regressions is working well, but we need a longer term solution. A couple more ideas for discussion...

1. See if we can take advantage of the caching capability in Travis to save build time: https://docs.travis-ci.com/user/caching/#How-does-the-caching-work. Anyone familiar with this already?

2. More work, but probably the best long t

[2017-12-07 12:33] talbring commented on #459
The caching feature actually sounds very useful. I'll have a look into it.

[2017-12-07 13:30] timjim333 commented on #447
Thanks for the heads up - I just noticed you merged today! Does that mean
if I download the fresh-out-of-the oven master, these problems will go
away? Cheers!

On 6 Dec 2017 18:55, "David Thomas" <notifications@github.com> wrote:

[2017-12-07 13:50] tobadavid commented on #447
It is now merged indeed. I dit not work in that branch and I did not have the time to test it on several machines...so I suggest you to checkout the develop branch (not the master) and make a clean build. If things are not improved, I'm afraid that you will have to set the paths manually again.

[2017-12-08 05:28] timjim333 commented on #447
I will try a clean build now. Does the merge mean that Python 3 is now supported? If so, I will build with that instead.

[2017-12-08 08:38] timjim333 opened #483 "AD build problem SU2-5.0.0"
In reference to this problem on the cfd-online forums, [here](https://www.cfd-online.com/Forums/su2-installation/188365-ad-build-problem-su2-5-0-0-a.html), where `preconfigure.py` fails to download CoDi and AdjointMPI.

I just downloaded the latest develop from Github and noticed that the problem is still there when you try to build AD. I think it's due to a simple problem - the exact error I see

[2017-12-08 12:44] ZenBel commented on #321
I have experienced the same problem. I think the problem can be connected with the code running in parallel.

Also, if you defined the objective function e.g. on an airfoil but have other boundaries of the same type (e.g. walls) the CpTarget for these boundaries will be set to zero and it will contribute to the final value of the objective function thus possibly giving wrong results.

[2017-12-08 21:20] MehdiMortazavi1992 commented on #133
Dear @talbring and @omdemircan ,

What is the quickest/ easiest way to specify a WRT_SOL_FREQ_DUALTIME for "surface_flow_xxxx.csv" files which would be different from the frequency for "flow_xxxx.plt or vtk etc" the reason is that I would like to have a more frequent number of "surface_flow.csv" files (as they are smaller in size) than the "flow.plt" files (which are much larger and will slow down

[2017-12-10 15:48] talbring commented on #483
Hi Tim,

for me it works without a problem. Can you tell me what OS you are using ?

Anyway, I might exchange wget with curl soon ...

[2017-12-11 05:46] timjim333 commented on #483
I think it's SUSE-based. `uname` gives:
[code]

[2017-12-11 10:57] ZenBel opened #486 "COutput::SetCp_InverseDesign - problem when running in parallel"
Hello,

when using the option INV_DESIGN_CP = YES, COutput::SetCp_InverseDesign is called to set the pressure difference. There is no problem with the allocations of values when running in serial but some problems arise when running in parallel. I haven't debugged it completely but it seems that the storage of the values of iMarker and iVertex in Point2Vertex gets mixed up by the parallel run. Thi

[2017-12-11 20:45] clarkpede opened #487 "Infinite Loop When Running Grid Adaptivity on Hexahderons"
I've encountered a bug where SU2 will get stuck in an infinite loop.  I've been trying out the grid adaptation code recently. Tets, rectangles, and triangles all worked fine, but hexahedra threw the code into an infinite loop.  Basically, the code is missing the proper code for hexahedra in the `CGridAdaptation::SetSensorElem` function.

I've attached the [offending lines 3640-3653](https://github

[2017-12-15 09:48] TobiKattmann commented on #470
Hi @economon ,

I would like to take a quick glance on the presented slides in advance. I always find it easier to follow when I already know whats coming my way. I know that slides are often finished the exact second before the presentation but maybe I am lucky.

Also considering that it is quite late here in Germany and the concentration level might drop a little, although you scheduled the Conf

[2017-12-15 19:17] juanjosealonso commented on #470
Tobi,

We have asked all presenters for slides on Sunday.  We will link them to the agenda in the SU2 main web pages shortly after we receive them and you should be able to see them on Monday morning (your morning) and have a few hours to review them before the actual meeting starts at 8 am Pacific / 5pm in Germany.

Best wishes,

Juan

On Dec 15, 2017, at 1:48 AM, TobiKattmann <notifications@gith

[2017-12-20 09:32] jkputtam opened #489 "Aerodynamic Shape Optimization: Solution restarting procedure & Exporting the final shape as 3D CAD model"
Dear SU2 Team Members,

Greetings! We are very happy to inform you that we are exploring the aerodynamic shape optimization script of SU2 R 5.0.0 (Raven) with different configurations. And we would also like to seek your assistance in connection with the following two issues:

1. We are not getting any clue on restarting procedure of the optimization process from previously finished cycles.

2. Is

[2018-01-05 15:53] clarkpede commented on #481
What is your goal in including LAPACK?

You might want to see the issue I raised ( #478 ).  I asked what the LAPACK compile option does, and the short answer is that it doesn't do anything for the master and develop branches.  The long answer is that several integrations, such as the higher-order finite element branch, use LAPACK but in different ways.

[2018-01-05 19:02] brada4 commented on #481
I figured that out too. The linked problem was one of su2 users asking how to make openblas do that nothing in place of reference blas

[2018-01-07 03:28] clarkpede commented on #487
As for the question I raised, Dr. Alonso mentioned the problem in an email he sent me.  He said, "We used [grid adaptation] successfully in tetrahedral meshes, but I do not believe the hexahedral adaptation was ever fully functional."

That matches my experience with a few tests I ran. After playing around a little, it seems like adaptivity for hexahedra was only partially finished.  Many sections

[2018-01-08 13:37] jkputtam commented on #489
Dear SU2 Team Members,

Greetings! We are very happy to inform you that we are exploring the aerodynamic shape optimization script of SU2 R 5.0.0 (Raven) with different configurations. And we would also like to seek your assistance in connection with the following two issues:

We are not getting any clue on restarting procedure of the optimization process from previously finished cycles.

Is there

[2018-01-08 14:31] talbring commented on #489
Hi Jyothi,

for questions like that I would kindly refer you to the official forum ([https://www.cfd-online.com/Forums/su2/](https://www.cfd-online.com/Forums/su2/)).

Tim

[2018-01-08 14:31] #489 closed

[2018-01-09 06:09] jkputtam commented on #489
Dear Tim,

Thank you so much. I will post on CFD-ONLINE right now.

Regards,
Jyothi Kumar Puttam.

[2018-01-11 05:51] #487 closed

[2018-01-12 23:32] EduardoMolina opened #499 "Xcode SU2_CFD project failed to build in develop branch"
Dear SU2 developers,

Xcode is failing to build the SU2_CFD project in develop branch (commit f699102ed6cb6e4ee4a79d8bdbbcf80304cc5f9b). It is related to various issues in CFluidDriver::SetInitialMesh(), CFluidDriver::ResetConvergence(), CFluidDriver::BoundaryConditionsUpdate(), etc....

Thanks,

Eduardo

[2018-01-13 08:19] tobadavid commented on #499
I forgot to update the Xcode project when I moved some Python related functionalities into a new cpp file, my bad (see #488 ). Seems like #497 may fix this.

[2018-01-13 19:50] EduardoMolina commented on #499
Thank you David.

Good to hear that this issue is already addressed. When this issue is solved, I will close it.

Eduardo

[2018-01-17 15:30] clarkpede commented on #431
I've tracked down the source of the bug, and I'll submit a pull request later today.

During the output of the periodic mesh in `SU2_MSH`, `CPeriodicGeometry::SetMeshFile` sorts the nodes into the order normal, receive, send.  This can be found in [lines 18798-18819 of Common/src/geometry_structure](https://github.com/su2code/SU2/blob/68991cd1005cf118e1ff21b8952bb366bb299cf3/Common/src/geometry_st

[2018-01-17 19:54] demanosalvas commented on #431
Hi clarkpede,

Have you looked into the “enhancement_periodicbc" branch? I recall fixing many of these bugs there but not merging it to master because there are still a few more things that have to be taken care of.

David

On Jan 17, 2018, at 7:30 AM, clarkpede <notifications@github.com<mailto:notifications@github.com>> wrote:

I've tracked down the source of the bug, and I'll submit a pull reque

[2018-01-17 20:14] clarkpede commented on #431
I had forgotten about that branch.  Can you be more specific? What do you mean by "there are still a few more things that have to be taken care of"?

[2018-01-18 05:04] demanosalvas commented on #431
After realizing that SU2_MSH was only able to generate halo cells when the periodic BCs didn't share a common edge, @sravya91 and I went through the code that performs this task and fixed a few things to add this capability back. After fixing this we realized that there was an issue within the SU2_CFD when trying to run periodic BCs that touch each other. The issue was traced to the mpi communicat

[2018-01-18 06:55] clarkpede commented on #431
Ah.  Well, pull request #500 should fix this bug, regardless.  It's a single-purpose pull request that's ready to be merged in with the develop branch.

That being said, it looks like the changes implemented in `enhancement_periodicbc` and `enhancement_periodicbc_paralleldraft` seem to encompass a lot of the other changes needed to fix periodic boundary conditions.  Unfortunately, both branches ar

[2018-01-18 12:54] gabrielebedon commented on #449
HI David,

I am sorry to bring up this topic again, but I am experiencing the same bug from Rocco and I found this Issue discussion. However, I can not find the branch "feature_pyWrapper" that you mentioned. Is it still somewhere?
I am presently using the official 5.0.0 release cloned from the main branch.

Thanks
Best Regards
Gabriele

[2018-01-18 17:51] tobadavid commented on #449
The feature_pyWrapper branch has been removed, since it was recently merged into the develop branch (#488). Just check out the develop branch instead of master and compile the code again. Everything should be ok. Be sure to _git fetch_ the repo before switching on the develop.

Best,
David

[2018-01-18 18:51] economon commented on #431
@clarkpede: thanks for organizing - it would be great to have your help on this topic. I'll let the others comment on the status of those branches, but in general, we have 2 major issues:

1. Numerous bugs in the creation of the initial periodic BCs and new mesh file generated by SU2_MSH (ordering, inability to treat adjacent periodic markers, e.g., triply-periodic cube, and others). The branches

[2018-01-21 23:22] #414 closed

[2018-01-24 07:53] economon commented on #404
Hi,

Yep! This is still possible for the compressible solver with the following option: AXISYMMETRIC= YES.

Closing this issue for now, please reopen if you have issues,
Tom

[2018-01-24 07:53] #404 closed

[2018-01-24 07:54] economon commented on #470
Time to close this one. Thanks all for the participation. The presentations and webinar recording of the developers meeting can be found on the SU2 home page.

[2018-01-24 07:54] #470 closed

[2018-01-24 07:58] vdweide commented on #404
Be aware though that the viscous axi-symmetric source terms have not been implemented yet.

[2018-01-24 08:02] economon commented on #477
Unfortunately, I have not been able to recreate this issue on my systems with the simple test case that you shared @yukaiweng.

@talbring or @EduardoMolina, if you have some time, could you give the attached toy problem a try on your machines? I ran for a couple of unsteady iterations and then restarted on the third iteration (successfully for me). I think we're just missing something simple...

[

[2018-01-24 08:06] economon commented on #434
Hopefully the branch was helpful. Closing this one.. please reopen if necessary. We plan to incorporate this into the develop branch in the future.

[2018-01-24 08:06] #434 closed

[2018-01-24 08:17] economon commented on #400
@elfring: thank you very much for the suggestion, but for the time being, our philosophy is to keep the code as simple as possible to keep a low barrier to entry for new users/developers. Therefore, we try to avoid templates when possible (there are a few isolated places where they are necessary). This may change in the future, but we'll close this for now.

[2018-01-24 08:17] #400 closed

[2018-01-24 08:19] economon commented on #353
Fixed in #412

[2018-01-24 08:19] #353 closed

[2018-01-24 08:22] elfring commented on #400
I find this view strange.

I would appreciate if current C++ software techniques can be applied. How much can they help to make the source code a bit simpler?

[2018-01-24 08:23] economon commented on #246
Support added in #424. Thanks again for all of the effort @gbaty and @petebachant!

[2018-01-24 08:23] #246 closed

[2018-01-24 08:35] economon commented on #119
This is out of our scope for now (and not very necessary any longer). Closing.

[2018-01-24 08:35] #119 closed

[2018-01-24 08:41] economon commented on #100
Addressed in #451

[2018-01-24 08:41] #100 closed

[2018-01-24 08:55] economon commented on #116
FFD has had major improvements, including options in the config for controlling the set up. See also #213 #239 #330

[2018-01-24 08:55] #116 closed

[2018-01-24 08:58] economon commented on #88
Complete.

[2018-01-24 08:58] #88 closed

[2018-01-24 09:06] economon commented on #16
Unfortunately, this functionality is no longer available for implementation. Closing.

[2018-01-24 09:06] #16 closed

[2018-01-24 09:09] economon commented on #161
This has been fixed. SU2_DEF output should work in ParaView for SU2 v5+ (tested successfully with ParaView v5.4.1).

[2018-01-24 09:09] #161 closed

[2018-01-24 09:44] economon commented on #400
I understand, but it helps to keep the code more approachable and portable. That being said, there may be some work proposed soon using templates in the linear solver classes, and it would be great to have your feedback then. We really appreciate your interest!

[2018-01-24 11:45] elfring commented on #400
How do you think about to improve any corresponding [system configuration checks](https://github.com/su2code/SU2/blob/ec551e427f20373511432e6cd87402304cc46baa/configure.ac#L53 "build specification") then?

[2018-01-29 08:56] rmapetrei opened #501 "SU2_SOL hangs when writing volume solution (v5.0 "Raven")"
Hi all,

Just noticed that SU2_SOL hangs when trying to write volume solution for an FSI study. This issue was raised some years ago on cfd-online and thought it might have been solved. Any ideas?

Thanks,

Razvan

[2018-01-29 19:06] economon commented on #477
We have resolved this issue: the problem was with the particular combination of MPI implementation and compiler. The problem appeared with Intel MPI (mpigcc for the Intel(R) MPI Library 2017 Update 2 for Linux*) and GCC 6.3.0. Switching to an OpenMPI implementation fixed the issue. As this may be a machine-specific problem, we will close the issue, but please be advised of possible problems with t

[2018-01-29 19:06] #477 closed

[2018-01-30 08:46] sysu-tanlang opened #502 "LM model in su2"
Just noticed that LM transition model in su2 is does not work. How can I use LM model in current su2? Thank you!

[2018-02-14 14:10] koodlyakshay commented on #476
Hi,

The square.f90 file doesn't write the elements correctly for the "left" marker. The loop counter is doesn't go all the way to zero and only 2 elements are written.
Currently reads
   do jNode = mNode-2,mNode-3,-1 ....
instead of
   do jNode = mNode-2,0,-1 ....

I think there is the same issue in the square.cpp file too.

Akshay.

[2018-02-17 02:52] economon commented on #467
@clarkpede : I would like to collaborate with you to wrap up the C++ implementation of this feature (I know you have already completed the Python version). If you have some time, can you please push your version to an internal branch of the SU2 repository?

[2018-02-18 05:12] clarkpede commented on #467
@economon I need to fix and test a few things before I push the branch to an internal branch.  But I should be able to finish by the end of the next week.

If you're looking to improve the C++ inlet profile specification I started, then I'd like to get some feedback on the overall design.   There are several different ways to handle this, and I chose what I thought was most logical. I want to make

[2018-02-19 16:24] Foadsf opened #512 "The training page: The page you are looking for cannot be found. 404"
When searching for SU2 tutorials the first page is
[https://su2code.github.io/training.html](https://su2code.github.io/training.html )
and it is broken!

[2018-02-19 18:54] economon commented on #467
Thanks, @clarkpede : no need for too much overhead on your part. It doesn't have to be perfect and please don't spend too much effort with prep (there's no judgment, all progress is good progress!). I can take some time to diff through the changes you've made myself too.

Let's post any comments here in the open so others can join in if they'd like.

[2018-02-27 19:06] clarkpede commented on #467
Alright.  I've copied over my changes, with a few improvements.  They're on the branch `feature_fileprofile`. One important change is that the user no longer needs to specify the node numbers.  For each inlet node on the mesh, the code looks for the closest point from the inlet file.  If that closest point is within a specified distance, it deems it a match.  If not, it returns an error.

Some poi

[2018-03-06 03:58] economon commented on #512
@Foadsf: thanks for the note. We recently completed a major overhaul of the project website (https://su2code.github.io) in order to consolidate everything into a single, open repo so that everyone can contribute. Some pages were shifted around, but I expect the search engines should flush the old pages before long. Please check out the new documentation and tutorials pages here (closing this issue

[2018-03-06 03:58] #512 closed

[2018-03-06 04:00] economon commented on #467
Thanks @clarkpede, I'll take a look...

[2018-03-06 12:35] koodlyakshay commented on #429
Hello,

I have now added a basic FVM implementation to solve a general Poisson problem. The existing Poisson solver used a FEM based discretization but we needed a FVM based discretization to maintain numerical consistency when the momentum equations and Poisson equation for pressure are coupled. The FVM based solver is now working but some work still remains (like output formatting, history files

[2018-03-07 15:05] oleburghardt commented on #429
Hi there,

maybe I should mention that as a part of my commits to integrate a CHT functionality to SU2 (see the pull request I opened up a month ago, if you like), I also had to implement a heat solver that can be coupled to a flow equation system. We even chose similar namings (mine is called CHeatSolverFVM).

It might be interesting for you that it also can be run "stand-alone" for pure heat con

[2018-03-09 05:23] economon commented on #467
I just pushed a new version of your inlet profile branch. I really like the solver class abstractions. I can tell you have a good grip on the classes and where data should live - nice job.

Here are the changes I have made:
* everything is generalized in parallel for an arbitrary number of inlets in the file. The file format changed slightly.
* I moved around some routines and data to take more ad

[2018-03-12 09:07] 2456439929 commented on #133
Hi, I am trying to use the unsteady simulation part of su2, but I can't find any tutoial about it,  can any one provide me a complete procedure of unsteady simulation (better including mesh deformation part). Thanks a lot!!! @talbring

[2018-03-12 15:35] ZenBel commented on #486
I was able to solve the problem by commenting the line:

if (geometry->vertex[iMarker][iVertex]->GetNode() < geometry->GetnPointDomain()) {

 COutput::SetCp_InverseDesign

Now the results in parallel and ind serial are the same.

[2018-03-13 08:31] ZenBel commented on #466
Hi all,

it would be nice to implement this feature as an objective function, which works not only for the pressure but also for other quantities.

Best,

Zeno

[2018-03-16 11:52] ZenBel opened #515 "Discrete adjoint problem with INVERSE_DESIGN_PRESSURE objective function"
When running discrete_adjoint.py (or shape_optimization.py with a discrete adjoint method) for the test case steady_inverse_design, the value of the adjoint variables at the first iterations is already O(1e-10) and after a while the following message is printed on screen:

CSysSolve::FGMRES(): system solved by initial guess.

This problem does not occur when using other objective functions or a co

[2018-03-17 14:07] ZenBel commented on #515
This problem could be solved by inserting the following lines after DirectRun(); in CDiscAdjFluidDriver::SetRecording(unsigned short kind_recording):

  if (config_container[ZONE_0]->GetInvDesign_Cp() == YES){
    output->SetCp_InverseDesign(solver_container[ZONE_0][MESH_0][FLOW_SOL],
	  geometry_container[ZONE_0][MESH_0], config_container[ZONE_0], ExtIter);
  }

Probably, this should also be done

[2018-04-02 06:41] LEESHQI opened #521 "In parallel, SU2 is not working"
Hi, all !
There are some problems in the parallel computing of SU2, as shown in the following figure：
![su2_run](https://user-images.githubusercontent.com/37644741/38185974-37e443e8-3683-11e8-9a0e-b3b645159b76.jpg)

[2018-04-02 07:00] vdweide commented on #521
From the picture it looks like you use the python script, but that is about all I could see. Could you therefore give some more details? What operating system do you use? How did you compile the code? What version of MPI do you use?

[2018-04-02 07:04] juanjosealonso commented on #521
It looks like the SU2_RUN environment variable was not set as described here<https://su2code.github.io/docs/Build-from-Source/>.  Scroll to near the bottom for more details.

Best,

Juan

On Apr 2, 2018, at 12:00 AM, Edwin van der Weide <notifications@github.com<mailto:notifications@github.com>> wrote:

From the picture it looks like you use the python script, but that is about all I could see. Co

[2018-04-03 03:26] LEESHQI commented on #521
Thanks for Edwin van der Weide, I am using a Windows 7 system and compile SU2 with cygwin. The MPI version is 9.0.1247497.11. I am a newcomer to SU2 and following the tutorial now , but there is a problem with ONERAM6 parallel computing.
The following figure shows the contents of the tutorial：
The following figure shows the errors in the calculation：
Serial computing can run normally。
Thanks again

[2018-04-03 03:50] chamsolli commented on #521
Seems like your figures are not attached. Please upload them again.

Also, please double check whether your "SU2_RUN" environment variable is set correctly as Juan mentioned. If serial computation worked fine only with "$ SU2_CFD inv_ONERAM6.cfg" command, I guess you set it correctly. However, from your error message, python script says it can't find a path to "SU2_RUN"

[2018-04-03 08:04] vdweide commented on #521
I am not entirely sure, but as far as I know SU2 has not been tested on cygwin. So if the setting of the SU2_RUN environment variable does not solve the problem, could you test it without python? You do this using the following command

mpirun -np <# of ranks> <path to SU2 bin directory>/SU2_CFD.exe inv_ONERAM6.cfg.

It could be that instead of mpirun you must use mpiexec. That depends on your MPI

[2018-04-03 15:28] EduardoMolina commented on #521
Using Cygwin's OpenMPI you can compile SU2 using the following command:

$SU2_HOME/configure --prefix=$SU2_EXEC --enable-mpi --with-cc=/usr/bin/mpicc --with-cxx=/usr/bin/mpicxx --enable-metis   --with-metis-cppflags="-D_FILE_OFFSET_BITS=64 -DNDEBUG -DNDEBUG2 -DHAVE_GETLINE -DMETIS_USE_LONGINDEX=1" --enable-parmetis --with-parmetis-cppflags="-DMETIS_USE_LONGINDEX=1" --enable-cgns

Ok, you will not

[2018-04-15 15:37] subhanjan21 commented on #321
@DominicMasters
Hey. I have been trying to run a 3d euler case in SU2. My meshed file with boundary as wing, symmetry and farfield is not working,
I would appreciate if you could share the config file and mesh file for me to view once.
Thank you.
![capture](https://user-images.githubusercontent.com/31462793/38780237-f802ec6e-4098-11e8-8994-903bf0ea5813.JPG)

[2018-04-15 18:59] subhanjan21 opened #523 "3d case in SU2"
Hey.
I have been performing simulations and validating results using SU2. I have successfully carried out 2D cases. However, I am having a hard time while doing 3D cases.
Can anyone share an example of a 3D case config file dealing with Euler and Navier-Stokes equation?
Thank you.

[2018-04-16 12:18] rsanfer opened #524 "Travis issue with regression tests"
Hi all,
I'm experiencing some issues with travis lately, not only with time-outs (already discussed a few times), but also with this message:

_No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself._

_Check the details on how to adjust your build configuration on: https://docs.travis-ci.com/user/common-build-problems/#Bu

[2018-04-16 17:57] chamsolli commented on #523
Hi,
There are some examples for 3D simulations in tutorials.
https://su2code.github.io/tutorials/Inviscid_ONERAM6/
https://su2code.github.io/tutorials/Turbulent_ONERAM6/

[2018-04-16 20:03] subhanjan21 commented on #523
Yes I know about the ONERAM examples. But the mesh files and config files do not match as their boundary conditions are different. Could you share your config file and meshed file to me regarding ONERAM ?
Thank you.

[2018-04-16 20:38] chamsolli commented on #523
I just pulled the master branch of SU2 and it worked fine with configuration file and mesh file. Which files did you use for your 3D simulation? You may download files from following links.

Inviscid : https://github.com/su2code/su2code.github.io/tree/master/Inviscid_ONERAM6
Turbulent : https://github.com/su2code/su2code.github.io/tree/master/Turbulent_ONERAM6

[2018-04-16 20:47] subhanjan21 commented on #523
@chamsolli
I am trying to configure my own 3D Euler case for this mesh.
![capture](https://user-images.githubusercontent.com/31462793/38834251-7f1740ca-418d-11e8-962c-8e778331955e.JPG)

[2018-04-16 20:58] chamsolli commented on #523
Please do run tutorial cases for 3D Euler and NS(Inviscid and Turbulent ONERAM6) first before running your own implementation. Tutorial pages are self-explanatory so I expect that you can easily grab which boundary markers to use in your implementation.
As I said in previous comment, boundary conditions in config file and mesh file do match at least inviscid case.

[2018-04-16 21:11] subhanjan21 commented on #523
Thank you @chamsolli
However, it says that some of the options like coefficients and binary restart are not analogous to the config file of SU2.
![screenshot from 2018-04-16 16-03-29](https://user-images.githubusercontent.com/31462793/38835288-c18a81e4-4190-11e8-8aae-d28eabbbc0d1.png)

[2018-04-16 21:16] chamsolli commented on #523
Seems like you're using older version of SU2 master branch. We didn't have several config options such as "WRT_BINARY_RESTART" in older version. That's the reason why your SU2_CFD executable throws error message regarding it.
Please clean your SU2 directory, pull fresh copy of master branch of SU2, compile it and then run it.

[2018-04-16 21:28] chamsolli commented on #523
No problem. I recommend you to open an issue here when you have some difficulties. Most of developers will look into issues so you'll have more chance to get some help.

[2018-04-16 22:00] #523 closed

[2018-04-17 11:36] rsanfer commented on #524
Ok, thanks Tom! It's that "silence" time which was confusing for me, because it seems to happen at random. Let's wait to see the possible solutions.

[2018-04-17 21:24] economon commented on #524
The folks at Travis CI have kindly doubled both our "hard" timeout and "silence" timeout limits up to 140 min. and 20 min., respectively. We should be safely within limits for some time to come.

That being said, rather than relying on the increases, I would really encourage that we find some better approaches for reducing total test time, as we will continue to add more cases. It is not good for

[2018-04-18 07:09] timjim333 opened #526 "Oversubscribe / hwthreads with parallel_computation.py and OpenMPI 3.0.1"
Hello,

I have a hyperthreaded 6-core machine (12 processors available) but I have the following issue when I try to specify `parallel_computation.py -n 12`.
[code]
It works if `-n 6` is used instead but then only half of the availalbe processes are being used.

I'm not sure if this is a bug with parallel_computation.py (or just a "feature" which has not yet been implemented) but using SU2 6.0.0,

[2018-04-18 08:00] rsanfer commented on #524
That's great! At least it gives us some margin to solve this issue. I agree that we should try to reduce the time of the tests. I think that @talbring approach a few months ago of reducing the number of iterations was the correct one; the tests don't need to be physically meaningful, but rather technically representative of the features. The compile time is also something that we should look into

[2018-04-20 08:57] TobiKattmann commented on #526
Hi @timjim333 ,

you can try to set an environmental variable 'SU2_MPI_COMMAND' which contains your specific mpirun command. Take a look at /SU2_PY/SU2/run/interface.py (line 66) in the source code, that might help. There the command which is called by parallel_computation.py is build.

For your case it should be:
export SU2_MPI_COMMAND="mpirun --use-hwthread-cpus -np %i %s"

I hope that helps :)

[2018-05-02 14:51] aa-g opened #529 "Overflowing index in python_wrapper_structure.cpp"
This issue concerns the index `iVertex` that appears in the `CDriver` classes, defined in *SU2\_CFD/src/python_wrapper_structure.cpp* (rather, what was formerly *SU2\_CFD/src/driver_structure.cpp* in 5.0.0). Due to `iVertex` being declared as an `unsigned short`, one runs into overflow errors when more than 65535 surface nodes are "owned" by a single process (not uncommon for larger models).

Decl

[2018-05-09 10:09] RoccoBombardieri opened #531 "Develop branch, fsi_computation.py error using --parallel (with parallel building of the wrapper)"
Hello,

I'm experiencing an unclear error trying to launch the fsi_computation.py of the **SU2 develop branch**. From the command line, launching:

`mpirun -np XX fsi_computation.py -f FSICoupler_config.cfg --parallel`

with XX number of process (I tried both with 1 and more), I get the error:

I'm sure my wrapper has been built in parallel, as I used the configure options suggested in
[https://su

[2018-05-11 07:46] tobadavid commented on #531
Hi,

This error simply occurs because the prototype of the CDriver (and child classes) has changed. There is an additional `bool val_periodic` argument that have to be passed. The current fsi_computation.py is not up-to-date. Here are solutions to fix that:

- Change the fsi_computation.py and pass an extra `False` argument between the number of dimensions and the communicator.

or

- Do you need

[2018-05-11 09:46] RoccoBombardieri commented on #531
Hi David,
Yes, I was able to figure out that and I went ahead in trying to make fsi_computation.py work with this branch. Another error (which may be a bug actually ) occurs when the wrapped function **SetInitialMesh()** is run. This directly involves the core of SU2 as I found out the error is given during the run of the function **CILUPreconditioner** (inside **matrix_structure.cpp**) which, as

[2018-05-11 09:48] acrovato opened #533 "RANS simulations on 3D wing - convergence problem"
Dear SU2 developers and users,

I am running RANS simulations around a typical aircraft wing (EBW in the following) and I am facing some issues.

Here are the flight conditions:
- Mach number: 0.78
- Temperature = ~217 K
- Reynolds number: ~19 millions
- AoA = 0°

At these conditions, the EBW should produce a lift coefficient between [0.4;0.5].
However, when SU2 converges, the Cl is about 0.27 and

[2018-05-12 05:51] vdweide commented on #533
Would it be possible to make available the Gmsh mesh and the config file?

[2018-05-12 10:33] hlkline commented on #533
I noticed you mentioned that it is a multiblock structured mesh. SU2 expects a single block format, unless explicitly setting up a  multi zone problem, so there's an outside chance it's only loading part of the mesh. I would expect that to throw some kind of error, but it's worth checking.
This could explain the wrong z projection, but to check you can plot the output volume solution to see if you

[2018-05-14 07:33] AdrienCro commented on #533
@vdweide: I cannot give you the geometry or the mesh because they are the property of an aircraft manufacturer, a colleague is going to check if he can provide a dummy geometry, similar to the one we are working onto. What I can give you is the config file (I still had to change some values related to the geometry).

@hlkline: What I meant was that the meshes were generated using a multi block str

[2018-05-14 07:45] vdweide commented on #533
The config file is a start, but for a thorough investigation a full test case, i.e. including a grid, is preferable.

[2018-05-18 16:31] dtyclm opened #534 "2D Mixing Layer unsteady simulation"
Problem description:

Recently I am trying to set up a very simple test case for the 2D mixing layer in a square block with structured mesh.
On the top half, air flows to right and bottom half is opposite, initially there is only velocity difference between upper and lower flow. (i expect Ux_top = -Ux_bot = 10 m/s, Uy_top = Uy_bot = 0)
But I could not figure out how to set up my Boundary Condition

[2018-05-21 04:23] economon opened #536 "3rd Annual SU2 Developers Meeting - September 16-18, 2018"
It's that time again! This post is an announcement for you all to save the date:

**3rd Annual SU2 Developers Meeting
September 16-18, 2018
University of Strathclyde Campus**

This year, we will start with tutorials/hack-a-thon events on Sunday before holding presentations and discussions during the following Monday and Tuesday. Please mark your calendars and consider joining us!

[2018-05-27 05:51] sysu-tanlang opened #537 "How to use the average option"
I have downloaded SU2v6.0 on website. How can I use the average option in config files ? SU2v6.0 only have one config file about DDES named ddes_flatplate.cfg without the average option

[2018-05-27 12:13] EduardoMolina commented on #537
Hi @sysu-tanlang

The average option is not available in SU2v6.0 yet. At this moment, I am working on that and soon I will submit a PR.

Best

Eduardo.

[2018-06-04 11:45] najianaslreza opened #539 "python wrapper and AD tool"
Dear all,

I am trying to use the python wrapper with AD tool support. For example I want to use CDiscAdjFluidDriver(options.filename, 1, 3, comm) but it fail and returns there is no AD support for python wrapper.

Do you know how I can solve it ?!

@talbring @tobadavid

Cheers,

reza

[2018-06-05 13:43] talbring commented on #539
Dear Reza,

like the error message already implies, currently the python wrapper does not support the AD features. It is on our list, but I cannot give an estimate when it will be available.

Tim

Am 04.06.2018 13:46 schrieb najianaslreza <notifications@github.com>:

Dear all,

I am trying to use the python wrapper with AD tool support. For example I want to use CDiscAdjFluidDriver(options.filenam

[2018-06-08 09:03] timjim333 commented on #526
Hi @TobiKattmann ,

Thanks for your comment, sorry for the slow reply! I'm not 100% sure I understand the usage -  do you mean that I should first `export SU2_MPI_COMMAND="mpirun --use-hwthread-cpus -np %i %s"` then run `parallel_computation.py -n 12 -f  turb_ONERAM6.cfg `?

I suppose that %i is that number of core but what about %s?

Many thanks! =)
Tim

[2018-06-08 09:56] TobiKattmann commented on #526
Hi @timjim333 ,

Exactly (concerning your first question).

For the %s : In your initial post you stated that `mpirun --use-hwthread-cpus -np 12 SU2_CFD turb_ONERAM6.cfg`  worked for you. So %s is simply the place-holder for the SU2 module together with the configure script. Which in your case would be `SU2_CFD turb_ONERAM6.cfg` . But `parallel_computation.py` will also call `SU2_SOL turb_ONERAM6.

[2018-06-19 09:19] vdweide opened #544 "Consistent comments"
Folks,

Just a general remark. Some of the doxygen comments of the functions and variables are not consistent, because these are simply copied. There are examples in the code where several functions have exactly the same comments and those comments do not make any sense whatsoever. So could everybody also pay attention to the comments before a pull request is made? You do not only write this code

[2018-06-27 18:01] alexfeld opened #545 "compute_polar.py error when optimization objective is not defined"
If `OPT_OBJECTIVE` is not defined in the `.cfg` file `compute_polar.py` creates a dummy. However, the dummy lacks a surface marker so it fails on the post processing step. Updating the dummy logic to the following seems to work (line 379 in the current version) .

[code]

[2018-06-28 01:11] erangit commented on #545
alexfeld
Thanks for your support in the compute_polar.
However, I don't manage to reproduce the failure that you have described. I have run a case
where the cfg file containes no MARKER_DESIGNING definition. Consequently, both
config_CFD.cfg and config_SOL.cfg had no definition of that marker but nothing failed.
Could you share with me you cfg file so that I will be able to reproduce the error tha

[2018-07-03 19:38] alexfeld commented on #545
My apologies for the long delay. I did notice this bug after updating to the latest version.

Using the following files and the `euler/oneram6/mesh_ONERAM6_inv_ffd.su2` mesh from the test cases:

[run_polar_template.sh.txt](https://github.com/su2code/SU2/files/2160777/run_polar_template.sh.txt)
[polarCtrl.in.txt](https://github.com/su2code/SU2/files/2160761/polarCtrl.in.txt)
[base_cfg.cfg.txt](htt

[2018-07-04 15:52] ReenaAcharya opened #549 "Unable to find "configure" file"
Hi,

I downloaded su2-***.tgz file for ubuntu server. I uncompressed it.
When I am using following command:-
 ./configure --prefix=/root/downloads/su2-6.1.0
I get following error:-
-su: ./configure: No such file or directory

Need suggestion here.

Thanks,
Reena

[2018-07-05 15:22] clarkpede opened #550 "MPI Failure when Running with 16+ Cores"
I've recently run into a problem with periodic geometry when I run a RANS problem on 16 cores or more (256+ MPI tasks).  While initializing the Jacobian structure for the turbulence model, I run into one of two errors, depending on the core count.

The first error results in the following error message:
[code]

The second error just leads to the solver hanging indefinitely at the `Initialize Jacob

[2018-07-06 04:51] ReenaAcharya commented on #549
Hi,

Any update on this. Need suggestion urgently.

Thanks.

[2018-07-06 08:57] rsanfer commented on #549
This issue has already been dealt with in the forum,
https://www.cfd-online.com/Forums/su2/203777-unable-find-configure-file.html

[2018-07-06 08:57] #549 closed

[2018-07-07 10:28] mprogram opened #551 "Unable to compile Python wrapper (invalid static_cast in parallel, undefined symbols in serial)"
Branch: `master` or `develop` (in this exampe)
`swig`: either 3.0.12 or 4.0.0 (more warnings, master branch, in this example)
`mpicxx`, a wrapper to `g++` (Ubuntu 8.1.0-9ubuntu1) 8.1.0
`mpi4py`: either 2.0.0 or 3.0.1a0 (master branch)

Steps to reproduce (compile SU2 in `$SU2_HOME` first):

`cd $SU2_HOME/SU2_PY/pySU2`

`swig -Wall -I/usr/include/python2.7 -I/usr/include/x86_64-linux-gnu/python2.7

[2018-07-09 19:54] economon commented on #550
@clarkpede : Thank you for the detailed post, and your hunch is likely correct. Unfortunately, the existing periodic BC implementation has some limitations due to how closely it is coupled to the old mesh partitioning routines during setup.

Those original partitioning routines had become difficult to maintain or expand (very hard to make quick fixes), so they were rewritten from scratch in PR #51

[2018-07-09 19:55] #134 closed

[2018-07-09 19:56] #151 closed

[2018-07-09 19:57] #499 closed

[2018-07-09 19:58] #459 closed

[2018-07-09 19:59] #467 closed

[2018-07-09 20:08] economon commented on #536
Registration is open for the developers meeting:

 https://su2devsociety.org/3rd-annual-developers-meeting-registration/

Please register whether you intend to join in person or via virtual meeting. Presenters wanted! Let us know in the registration form if you would like to share your work involving SU2.

[2018-07-10 04:38] clarkpede commented on #550
Alright. Thanks for the update.  I'll wait to close this issue until the periodic BCs are fixed.

[2018-07-13 16:44] clarkpede commented on #551
If I understand, you're calling `swig` manually? The typical way to set up the python wrapper is to use the typical build process (i.e. configure, make, make install) but to include the flag `--enable-PY_WRAPPER` during the configure step.

The build process will automatically call `swig` for you, with the correct arguments.

See the docs for more information: https://su2code.github.io/docs/Python

[2018-07-13 17:48] mprogram commented on #551
No, your assumption of calling `swig` manually is not the cause why I've opened this issue (though, admittedly, "compile SU2 in `$SU2_HOME` first" – for getting the required libraries done – might sound confusing). Trying to be utterly relevant, I only replicated that part of the compilation process (yes, would-be with `--enable-PY_WRAPPER`) where one can explicitly debug the issue (please, have a

[2018-07-13 19:58] clarkpede commented on #551
Ok.  I can duplicate your error on my system.  The error seems to be specific to gcc 8.1.  If I switch to gcc 7.2 while keeping everything else the same, the errors disappear and the build completes succesfully.

Unfortunately, I'm not one of the developers who helped write the wrapper.  So I'm out of my depth here.

[2018-07-14 13:29] mprogram commented on #551
Following your suggestion I've tried to prepend the compiler with `OMPI_MPICXX=g++-7` to force `mpicxx` using – in the present particular case – `g++-7 (Ubuntu 7.3.0-16ubuntu3) 7.3.0`. Unfortunately. there was no change in the output comparing to that of `gcc-8`. Moreover, neither `clang++ version 7.0.0 (trunk)` resolved the issue, though adding/playing with `-std=gnu++11`, `-std=gnu++14`, `-std=g

[2018-07-18 10:43] samcom12 commented on #469
Thanks for your help :) I followed it exporting MPI Command and then running parallel_computation.py. Everything works fine but when I use slurm to submit jobs to HPC cluster I couldn't get much speed up with increasing number of nodes.

Please refer attached  slurm script.
[slurm_script_su2.txt](https://github.com/su2code/SU2/files/2205463/slurm_script_su2.txt)

[2018-07-23 08:02] acrovato commented on #533
Dear SU2 users,

I continued the investigation and managed to track down the source of the problem.
The issues I face with SU2 appear when my wing geometry has several airfoils across the span.

I ran several cases with supercritical airfoils and NACA 4 digits airfoils. As soon as the airfoil was changing along the span, SU2 had troubles  computing the projected and wetted area of the wing, an att

[2018-08-03 19:36] economon commented on #536
Preliminary agenda for the 3rd Annual SU2 Developers Meeting is now available, including hackathon format! More details on speakers to come. Check out the link from our main page: https://su2code.github.io

Keep registering and do let us know on the form if you would like to present your work!

[2018-08-15 08:08] gitlarky opened #559 "Errors when running Shape Optimization Tutorial 1 - NACA0012"
I tried running the shape optimization tutorial 1: Unconstrained shape design of a transonic inviscid airfoil at a cte. AoA using the given cfg and mesh file. But it seems the process only goes for 4 steps and stop. No matter I use python2 or python3, it is the same. What could cause the problem here? Thank you very much!

when using python2:

[code]

when using python3:

[code]

[2018-08-23 14:23] vdweide opened #564 "Error message is ony printed for Rank == 0."
Error messages are only printed for Rank == 0, see the function CBaseMPIWrapper::Error

inline void CBaseMPIWrapper::Error(std::string ErrorMsg, std::string FunctionName){
  if (Rank == 0){
    std::cout << std::endl << std::endl;
    std::cout << "Error in \"" << FunctionName << "\": " << std::endl;
    std::cout <<  "-------------------------------------------------------------------------" << s

[2018-08-24 05:26] chengdi123000 opened #566 "swig cannot recognize `-qopenmp -O3` during compilation"
error msg:
[code]

my configure:
[code]

I manually build the output object `SU2_APIPYTHON_wrap.cxx` and complete the build:
[code]

[2018-08-24 08:54] talbring commented on #564
@vdweide I agree, there might be cases where is is useful. I am totally fine with adding an additional argument to the error handler.

[2018-08-24 13:58] chengdi123000 opened #567 "AD build configure error: `bad value --enable-parmetis for --enable-tecio`"
system: RHEL 6.8
intel 2017 compiler system suite

[code]

a work-around: add `=yes` at certain `enable-xxx` options.
[code]

[2018-08-24 19:04] clarkpede commented on #564
This isn't just a hypothetical problem.

In "CSolver::LoadInletProfile", a specified inlet profile is compared against the loaded grid.  Since each MPI task "owns" a different section of the grid, you can get errors on one task but not another.

Here's the current workaround. The code currently does an `MPI_Allreduce` to check if there were any errors globally, then calls `SU2_MPI::Error` collecti

[2018-08-25 04:54] vdweide commented on #566
Why would you build with -qopenmp in the first place? There is no OpenMP support in SU2.

[2018-08-25 05:04] vdweide commented on #564
What about the following?

- Find out the lowest rank that calls the error handler.
- Only this rank writes the error  message.

The tricky part of course is how to find out this lowest rank. A possible solution would be (although I am open for alternatives here)

- The ranks in the error handler send out messages with a very specific tag to all other ranks.
- The ranks in the error handler attemp

[2018-08-25 14:59] chengdi123000 commented on #566
Because there is some warning if I do not put it there. It seems a problem of `external/metis` which contains `omp` directives.

[2018-08-26 23:37] chengdi123000 commented on #566
Thanks for your explain.

Yes, the issue of swig is solved.

I think it would better if the parameter passed to swig is checked.

[2018-08-28 14:52] TobiKattmann opened #568 "Segfault in SU2_SOL for multiple zones"
Hi all, hi @rsanfer,

I get a segfault when running SU2_SOL on problems with multiple Zones for the develop branch. Specifically from the Testcases I tried:

- `turbomachinery/APU_turbocharger/Jones_rst.cfg`
- `sliding_interface/rotating_cylinders/rot_cylinders_WA.cfg` (I saw a regression test failing for @economon which I was able to reproduce)

I did some debugging and I think the code is wrong

[2018-08-29 02:50] economon commented on #568
@TobiKattmann : nice catch, thanks for the effort to debug this one. I have also been seeing this in the regressions.

@rsanfer or @arubino : do you have a case that you used for testing the new instance index, possibly with multiple zones including harmonic balance?

[2018-08-29 03:01] economon commented on #567
Thanks for the post. I think the issue is that ParMETIS support is enabled by default when building with '--enable-mpi' and so that option is not necessary (and may throw and error). Additionally, if the user does not enable MPI, ParMETIS will be disabled. Same for METIS.

If this is causing issues, we can remove them entirely from the set of configure options in order to avoid confusion.

[2018-08-29 06:03] vdweide commented on #564
Is it OK if I modify the error handler as described above?

[2018-08-29 06:42] economon commented on #564
I am open to any option, but it might be worth taking a look at the newer MPI-3 options for one-sided communication or atomic-type operations. I am not that familiar with the latest, but maybe there are one or two quick calls that would let one rank alone enter the section (like an OpenMP critical section)?

[2018-08-29 09:32] talbring commented on #564
For me either option would be fine. Although of course a cleaner option would be to use some of the built-in features of MPI, we might run into compatibility issues with older MPI implementations in that case.

[2018-08-29 09:33] talbring commented on #567
At some point we might have to clean up the configure script anyway, I guess :)

[2018-08-29 12:32] rsanfer commented on #568
Thanks @TobiKattmann, nice catch! Can you please put a pull request with the required changes? That way I can also do some tests myself and we can move the discussion there.

@economon As far as I know, there is no multizone-multiinstance case running as of now. I think @arubino worked on multizone harmonic-balance, but I don't think it has yet been adapted to the new instance index. Am I right?

[2018-08-30 13:10] TobiKattmann commented on #568
As a PR https://github.com/su2code/SU2/pull/572 was created it is best to continue there.

[2018-08-30 13:10] #568 closed

[2018-08-30 19:39] economon commented on #564
It was just a thought, in case someone knew of something quick/clean that could handle it with recent features. Otherwise, I think a quick and dirty fix, like you proposed already, Edwin, would work just fine too.

[2018-09-03 14:34] vdweide commented on #564
I think it is possible to do this with one-sided communication. However, the window for handling the one-sided communication must be active during the entire simulation. If that is a problem then my earlier solution looks the only way of handling this.

[2018-09-04 09:47] mprogram commented on #551
I've managed to compile the `_pysu2.so`, indeed, with the typical build process. Fiddling further with manual `swig` a bit, I narrowed where it produces the wrong output: in generating `SU2_APIPYTHON_wrap.cxx`. So, I preserved one made during the build, and then even got the Python 3 wrapper version by running `swig` with the `-py3` key. Both imports are going fine, so, I'm closing the issue.

[2018-09-04 09:47] #551 closed

[2018-09-04 18:23] #564 closed, assigned to nobody

[2018-09-18 06:15] PoonkodiSampath opened #580 "Mesh from ICEM CFD for conjugate heat transfer"
For CHT problems in SU2, two zones, fluid and solid, are specified. How to import mesh with two different zones from ICEM CFD suiting the needs of SU2. Many thanks

[2018-09-18 08:34] oleburghardt commented on #580
Hi there,
please see my response to your copy of this question on the CFD online forum. This place is meant for issues concerning the code only.

[2018-09-18 08:34] #580 closed

[2018-09-19 19:26] jayantmukho opened #581 "Validation Suite for SU2"
Hey everyone,

Following the discussions at the SU2 Developers meeting this week, I wanted to start a conversation about compiling a comprehensive set of V&V cases for SU2 that can showcase it's performance in comparison to other solvers.

I think the the [NASA TMR website](https://turbmodels.larc.nasa.gov/index.html) is a good model to base it on. The idea would be to present the V&V case, provid

[2018-09-20 07:26] erangit commented on #581
Hi Jayant
Thanks for being so prompt and fast in handling this very important issue.
I’m currently in vacation at Scotland so I’ll be brief and just add few
comments:
a. As you wrote, validation is very different from test cases. Mesh,
configuration and solutions should be optimized for accuracy, experiment
reproduction and performance.
b. I think it is important to start the validation project, c

[2018-09-20 09:45] rsanfer commented on #581
Hi @jayantmukho
great initiative indeed. I think we should coordinate the efforts between setting up "fast-running" tutorials (to get started with the code) and V&V cases. The list is definitely a good start - but same as Eran, I would also like to see some more unsteady cases there.
Let's reach out to the community and get this going on.
Thanks,
Ruben

[2018-09-20 09:54] pcarruscag commented on #581
Just one thought on this. I think it would be nice to run the validation suite for every release, that would force us to keep the configurations up to date, and provide an extra level of quality assurance. Most of the cases will be too expensive for travis but hopefully the computational burden can be spread over the community.
Cheers,
Pedro

[2018-09-20 10:02] rsanfer commented on #581
Thanks, Pedro, I think that's a great idea. As you mention, we would have to work out the logistics as this would require quite a bit of implication from the community, but the extra burden on the release would be compensated by avoiding big "updating" operations every now and then. Also as most users only work with the released versions, so it's a way to ensure they always know what updates have

[2018-09-20 10:33] rsanfer opened #582 "Listing active branches in the main repo"
Hi all,

I will be opening a number of issues that were raised during the Developers Meeting for discussion, to get things started. One interesting open question is **how many of the branches available in the repo are still active.**

My suggestion is that we all work together in having a list of branches with a short description in order to have an idea of where we stand. I would propose that all

[2018-09-20 10:44] rsanfer opened #583 "Restructuring the files on the main repo"
Another important topic from the meeting was the need to restructure the files on the main repository, to reduce their sizes and improve both readability and compilation times.

Of course, any file movement will affect the developers with ongoing branches (see #582) so one suggestion is to restructure one file at a time, maybe once every month or so, to reduce the burden to everybody.

I have a nu

[2018-09-20 13:14] rsanfer commented on #582
Some additional ideas on this topic:

#### Using Github projects
- For compilation of branches, I have created a github project: https://github.com/su2code/SU2/projects/7
- In there, you can list your active/old branches by adding a note to the relevant column. Please be so kind to mark the name of the branch in bold using Markdown's format (`** my branch name **`).

#### Where do I find my branch

[2018-09-20 14:35] juanjosealonso commented on #581
All,

Thanks for getting this going.  My two cents:

1.  Indeed, while these V&V cases and the TestCases directory / repo are not identical, there is some overlap…some of the TestCases are definitely validation cases too.  We can continue to add test cases to the TestCases repo, knowing that only a subset of those cases belong in the V&V list.

2. An important aspect of the V&V is the convergence

[2018-09-20 17:08] EduardoMolina commented on #581
All,

Regarding the steady test cases, Embraer folks published a paper of their efforts to validate SU2 using the DPW and HLPW geometries (https://doi.org/10.2514/6.2018-2845 <https://doi.org/10.2514/6.2018-2845>) in the last AVIATION. I think that they will be happy to contribute with the meshes and config files.

Also, I can contribute with some unsteady cases. I think that the Backward Facing S

[2018-09-20 17:46] erangit commented on #581
Hi All
I’m a bit worried about the logistics related to checking  this v&v data base for every new release.
Unlike the tutorials, these cases, by their nature will be large and will require long integrations(the 2D cases might not fall on this category). This means also that significant computational resources will be required for this evaluation (about twice a year for a growing list of cases). I

[2018-09-20 18:28] BeckettZhou commented on #581
Dear all,

    As I mentioned at the dev meeting earlier this week, regarding V&V, I already have joint plans with Eduardo Molina to look at a number of turbulent benchmark cases using his (E)DDES implementation (eg. square cylinder, tandem cylinders, massively separated NACA0012/21, etc). The next step after that would be to use my FWH implementation to compute farfield noise and compare them to

[2018-09-20 18:46] jayantmukho commented on #581
@hlkline That's a good point about the regression tests ensuring that the v&v results will be unlikely to change. If we have the same residuals for all the test cases, it isn't a stretch to say that the final results of the v&v cases will stay the same. But sometimes the test values for the regression tests are changed during development and then we lose the guarantee.

From the viewpoint of being

[2018-09-20 18:56] BeckettZhou commented on #581
@jayantmukho If the upload size limit on Github is an issue, and I suspect it likely will be for these large 3D meshes, we can follow the BANC model -- the researchers who conducted the corresponding V&V cases are named custodians of these test case with explicit understanding that data will be shared upon request. This way, the data resides with a particular SU2 dev group or groups and need not b

[2018-09-21 09:43] economon commented on #582
Thanks for getting this started, @rsanfer . I think we all agree this is going to be helpful.

At the end of the meeting, @Kevin-Singh had a very nice suggestion to keep the overhead low on managing the branch information: we can create a small markdown file in the root of the repo (SU2/branch_info.md, for example), and put inside of it a very short template that each developer/owner of a branch s

[2018-09-21 09:53] rsanfer commented on #582
It may be indeed a good idea for future management; however we also need to solve the issue of the current (large) amount of branches that we have.

I have just checked the Github project I opened yesterday, and there has been already some branch information added by @jayantmukho, @WallyMaier, @koodlyakshay and @talbring, so it seems it's working well. Have you had a look into that already? I thin

[2018-09-21 12:05] rsanfer opened #584 "Autoconf/automake options"
In link to a comment from @jayantmukho in  #573, I would like to raise the issue of the current versions of autotools which we maintain in SU2. In particular, in my local machine I can not longer run ./bootstrap, as the compilation of automake fails at:

  GEN      doc/automake-1.12.1
help2man: can't get `--help' info from automake-1.12
Try `--no-discard-stderr' if option outputs to stderr

Search

[2018-09-21 18:42] vdweide commented on #584
I'm running into problems as well on some machines. So I think it is a good idea to update the autotools to a more recent version. Don't know how much work this is though.

[2018-09-24 13:14] pcarruscag commented on #583
In terms of file organisation I can think of two strategies, one would be grouping them according to parent class, numerics, solver, etc. this would maybe make navigation easier for people who work on the code daily but it does little more than what the naming convention already does. The other would be to group families of classes and that, I think, would help people who are less familiar with th

[2018-09-25 03:46] hongyanbu opened #587 "Error compiling AD version"
Following is the error infomation:
[code]
Following is the config log:
[code]

[2018-09-25 05:47] economon commented on #583
Nice post @pcarruscag : I think we can gain a lot by first breaking up the files, especially the headers, and then being much better about include statements. In particular, we can look at forward declarations, using more guards, and just minimizing the number of includes (I expect some are redundant).

As far as breaking up the files, I think geometry is a good place to start. I can take a shot a

[2018-09-25 07:43] pcarruscag commented on #587
Hi,
What version of mpich are you using?
Pedro

[2018-09-25 07:50] hongyanbu commented on #587
Hi, Pedro @pcarruscag
I'm using mpich-3.0, installed with yum on CentOS 7.
Hongyan Bu

[2018-09-25 08:41] pcarruscag commented on #587
From the looks of things in that version some function signatures are not compatible with MeDi, I downloaded the source for 3.0 to be sure, version 3.3b3 on the other hand seems to be compatible. If you have the option to update give it a go, if not try compiling with -fpermissive (CXXFLAGS="-O3 -Wall -fpermissive" I think).

[2018-09-25 08:49] vdweide commented on #587
I strongly advice you not to use -fpermissive. That is a fix for bad programming.

[2018-09-25 10:08] pcarruscag commented on #587
@vdweide agreed, but for the sake of not giving SU2 a bad rep, the MPI standard specifies those variables to be const (https://www.mpi-forum.org/docs/mpi-3.0/mpi30-report.pdf page 572 or 602 of the pdf) so this is a (small-ish) mpich 3.0 implementation issue.

[2018-09-25 10:32] hongyanbu commented on #587
Switched to mpich-3.3b3, compiled successfully. Thanks a lot! @pcarruscag @vdweide

[2018-09-25 10:38] #587 closed

[2018-09-27 00:35] economon commented on #536
Time to close this one. Thanks to all for participating. The slides and videos are now live on the main project page, and have been archived on the tutorials page under the "event content" tab:

https://su2code.github.io/tutorials/event_content/

See you next year.

[2018-09-27 00:35] #536 closed

[2018-10-01 15:56] jayantmukho commented on #581
@BeckettZhou I think that's a good idea. Just to make sure I understand the BANC model: for cases that have large mesh sizes, we provide configuration files, and visualization of the results (comparisons to higher fidelity data and/or to other solvers). If someone would like to run the case for themselves, they would contact the custodian and the custodian is obligated to provide the meshes.

The

[2018-10-01 18:02] economon commented on #581
@jayantmukho : no problem at all. How about 'v&v' to sit alongside the other repos? Will be at https://github.com/su2code/v&v. It will be empty and ready for content. Do you have a directory layout in mind?

[2018-10-01 18:32] economon commented on #581
@vdweide : yep, read my mind. I am most interested in this lately. I think it might be the best way to show the code is bug-free. We can start from the one you have but add others (3D triply periodic for instance). Let's make sure there's a folder for mms in whatever structure is set up.

We can chat more about the code side of things.. we had the idea to create a class instead of ifdefs that coul

[2018-10-01 19:07] jayantmukho commented on #581
@economon I was envisioning something similar to the TestCases folder. With v&v cases grouped according to what they are testing. Something along the lines of:

1) Inviscid Simulations:
    a) 2D Inviscid bump
    b) 2D oblique shocks interaction
    c) ...
2) RANS simulations:
    a) Flatplate
    b) NACA0012
    c) ...
3) Unsteady simulations:
    a) Square Cylinder
    b) ...
4) Turbomachinary:

[2018-10-02 11:28] bigfooted commented on #581
Great idea! Below are some links to databases that I know of. I'd be happy to contribute.

(Some) CFD companies run very large regression tests that can take a long time to complete. Typically, you do not put validation test cases in a regression test (and run it up to convergence) because it will just take too long. A regression test should be <30s or so.
At a certain point there *will* be valida

[2018-10-03 13:01] talbring opened #591 "Preprocessing screen output"
Along with the restructuring of the output internals (see branch feature_output), I am introducing a more structured and unified way of outputting tables on screen. This enables for example a more structured output of the preprocessing information that is printed on screen at the beginning.

For the table output I use a very simple and easy to use class. For example the table

[code]
is generated

[2018-10-03 20:55] economon commented on #581
The new repo is live here: https://github.com/su2code/VandV  (GitHub didn't like '&' in the title).

All members of the developer team on GitHub should have read/write/push access.

[2018-10-03 21:21] jayantmukho commented on #581
Should we use the branching methodology that we use for the SU2 repository? In the sense that we create a develop branch, create branches for any cases we want to add, submit pull requests that can be reviewed by the rest of the community etc.

I like the idea from @bigfooted, of having some regression testing that can run the simulation for a couple of iterations and check residuals (identical to

[2018-10-03 21:36] jayantmukho commented on #591
I like this a lot. I often have a hard time reading the free-stream conditions, and this makes it a lot easier to read. Don't think it is as necessary for the solver iterations, but I don't see any detriment to outputting it like that. Would this require changing the regression testing script that reads the output log to diff the numerical values?

[2018-10-03 22:13] pcarruscag commented on #591
This is very nice! The free-stream / reference values look so much better.
My only suggestions would be to add a blank space between the value and the column separator and use + at every intersection for consistency.
[code]

[2018-10-04 07:13] vdweide commented on #544
I hope everybody read this and acts accordingly.

[2018-10-04 07:13] #544 closed

[2018-10-04 07:15] vdweide opened #593 "Old PR's"
There are a couple of old PR's, some of them dating back to 2015. I have the feeling nobody does anything with these anymore and furthermore the corresponding branches are most likely running behind. Should we simply close these old PR's?

[2018-10-05 01:05] economon commented on #593
I think it is ok if we send a few polite messages to say that we will close them but that they should feel very welcome to update their branches and resubmit the PRs. For a couple of them, it is partly our fault that they didn't get enough attention, as it was quite some time ago before we had really established our process.

[2018-10-05 01:08] economon commented on #591
Like it a lot, thanks, Tim! 👍

I also think it could be nice to leave the vertical bar out of the solver iterations. Is it easy to just have a flag for this in the table class constructor for customizing or perhaps a method to turn off/on (without making too much work for you, of course)?

[2018-10-05 01:42] economon commented on #581
I think the branching model is useful here too, but at the beginning, why don't you take a shot at an initial structure in the master just to get going, @jayantmukho?

No need to worry about everything being perfect.. we can easily blow it up and reorganize if need be.

[2018-10-05 08:31] talbring commented on #591
Thanks for the feedback. I will modify the class in a way that it is possible to specify the separator and other decoration.

[2018-10-05 23:25] jayantmukho opened #594 "Discrete Adjoint Memory Usage"
Hey everyone,

We (@bmunguia and I) ran the discrete adjoint on the ONERAM6 wing mesh with ~500, 000 elements and noticed the following memory usage:

MG_LEVEL | DIRECT | DISCRETE_ADJOINT
-| ------------ | -------------
0| 1.3GB | 16GB
2| 1.5GB | 33GB

Is this increase in memory consumption expected?

I ran the computation on the develop branch. The mesh is in TestCases/cont_adj_rans/oneram6/

Che

[2018-10-06 07:48] erangit commented on #594
We have also encountered the significant memory requirements of the discrete adjoint. Actually, this requirement prevented the use of fine mesh (of 10-20M cells) in optimizations process. This is not the case while using continuous adjoint but the effectiveness of the discrete adjoint is higher by far.
I think this is a very important issue in the actual use of the method. Unfortunately, I do not

[2018-10-06 17:41] bmunguia commented on #594
Another potential issue is unnecessary recording of computations. Jayant and I noticed that on his fix_wall_distance branch, the MG 2 case mentioned above was using 8GB more than on develop because during the tree search, the distance computations to all possible bounding boxes were being recorded, when the only necessary computation for recording is the final computation (once the minimum distanc

[2018-10-06 18:50] vdweide commented on #593
OK. Who will send the messages?

[2018-10-06 20:33] economon commented on #593
No problem at all. I'll take care of it soon.

[2018-10-06 20:33] #593 closed

[2018-10-07 01:31] hlkline commented on #594
In terms of improvements on a larger scale, this work by Tom Taylor et al. describes a hybrid approach that could take down that memory requirement quite a bit more:
https://arc.aiaa.org/doi/abs/10.2514/6.2012-3342
In short, there are theoretically ways to get at least some of the advantages of both worlds (continuous vs discrete). I recall seeing some work that got only 4x more memory required (I

[2018-10-07 22:51] hlkline commented on #99
This appears to be the current behavior - closing

[2018-10-07 22:51] #99 closed

[2018-10-08 14:08] talbring commented on #594
@all, I agree that it might be a problem for bigger cases and that we have to think of some ways to reduce the memory requirements for the discrete adjoint.

One approach that I started already, is to template the linear solver in order to use double datatype also when running the differentiated version of the code. However, that was more involved than I thought, but still its on my agenda. The ni

[2018-10-10 14:01] vdweide commented on #502
The LM transition model is still under development.

[2018-10-10 14:03] vdweide commented on #502
So I am closing this for now. It will be announced when this model becomes available.

[2018-10-10 14:03] #502 closed

[2018-10-11 05:53] timjim333 commented on #526
Hi @TobiKattmann ,

Apologies for the huge gap in communication - I had to attend to other matters before I could try this out. I just wanted to follow up and thank you for your suggestions. Doing `export SU2_MPI_COMMAND="mpirun --use-hwthread-cpus -n %i %s"` before calling 'parallel_computation.py' did the job!

Is it safe for me to edit line 70 in  interface.py from  `mpi_Command = 'mpirun -n %i

[2018-10-11 16:40] pcarruscag opened #596 "FSI fluid traction transfer"
Currently we transfer forces from the fluid side to the structural side, this is fine for matching meshes and for non-matching (interpolated) if the conservative approach is used (i.e. transpose the displacement interpolation matrix to transfer the loads).

For non-matching and the consistent approach (i.e. use the same interpolation scheme both ways) this creates "extra force", to avoid that, str

[2018-10-14 22:17] TobiKattmann commented on #526
Hey @timjim333  that's nice to hear,

I would put it in the .bashrc if you consistently call SU2 with your command, like that you can always switch the SU2-build and still have your clear settings already in place. Image having the master, develop and feature_whatever installed, you don't need to apply your patch to all of these versions if you put it in the bashrc.
But editing interface.py has th

[2018-10-19 22:38] economon commented on #54
Resolved by #598

[2018-10-19 22:38] #54 closed

[2018-10-19 22:39] economon commented on #62
Resolved by #598

[2018-10-19 22:39] #62 closed

[2018-10-23 00:33] economon opened #599 "Properly document changes to the autotools for releases after v.6.1.0"
Make changes throughout the docs about requiring bootstrap before configure-make-install for all releases after v6.1.0, and implement clear strategy for master branch and source distributions for subsequent releases.

[2018-11-01 03:02] alexfangman opened #606 "Supersonic Wedge Mesh Adaptation Issue"
Hi all,

When I try using the mesh_adaptation.py feature with the SUPERSONIC_SHOCK option on the inviscid wedge tutorial to capture the shock, the mesh is changed incorrectly. The original and "adapted" meshes are:
![adapted_quad_grid](https://user-images.githubusercontent.com/18233420/47829974-e80f2500-dd57-11e8-8318-e84ea38336ad.png)
![original_quad_grid](https://user-images.githubusercontent.co

[2018-11-01 04:07] clarkpede commented on #606
I'm the one who created that error message, so I can fill in some details about when and why that error message occurs.

For adaptive mesh refinement, SU2 looks at each element and checks how important it would be to divide that element.  It then assigns a numeric value (a "sensor") to each element representing the relative importance. That sensor is normalized by the max value and is assumed to b

[2018-11-03 22:30] alexfangman commented on #606
Thanks for the clarification clarkpede.

One of the things I had tried when I first ran into that warning after looking at the code was to create a coarse grid with fewer than 1000 elements (just in case the sensor value was extremely large for a single element for some reason, then it should’ve at least marked that one for adaptation). However, it still output the same results and warning message

[2018-11-06 04:57] clarkpede commented on #606
Alright.  I did some digging, and the problem has nothing to do with the warning message.  It goes much deeper.

In a recent release, SU2 switched to reading and writing binary restart files instead of ASCII. The grid adaptation code is still written only for ASCII.  Trying to read a binary restart file with the flow solution breaks the program.  I'll submit an issue detailing the bug.

For now, t

[2018-11-06 17:32] #481 closed

[2018-11-10 02:57] alexfangman commented on #606
Thank you. It does seem to work for the GRAD_FLOW option; however, it still results in the same incorrect results as before for the SUPERSONIC_SHOCK option.

Also, when I add "-c 2" as a command line argument to mesh_adaptation.py to speed up the process of running multiple adaptation cycles, the simulation will only do a single one then exit.

[2018-11-14 16:07] clarkpede opened #609 "Sign Error in `GetViscousProjJacs`"
I believe there's a sign error in how the Jacobian of the viscous fluxes is computed for ideal gases.  If you're not familiar with the code, there are two variants: one for ideal gases, and one for arbitrary equations of state. The code for ideal gases is not consistent with the code for arbitrary gas laws.

In ``CNumerics::GetViscousProjJacs`` for the ideal gas law you'll find:

    val_Proj_Jac_

[2018-11-14 16:16] clarkpede opened #610 "SU2_MSH is not compatible with binary restarts"
While `SU2_CFD` has been made to use binary restart files by default, the `SU2_MSH` code has not been updated to be compatible with binary restarts.

If a grid adaptation strategy requires a solution (as in `GRAD_FLOW`), then `SU2_MSH` tries to read from the restart file.  This is handled by `CGridAdaptation::GetFlowSolution`.  If you look into the code, you'll notice that it's still set up for AS

[2018-11-14 16:57] hlkline commented on #609
This sounds like an important thing to fix, and it looks like you've done some serious work to confirm it.
Would you mind putting your changes into a pull request?

Since the ideal gas version has been around for longer, I would initially suspect that there is another sign flip somewhere else in the code for some reason (which may be hard to find... especially if the code needs some cleanup). Just

[2018-11-14 18:25] clarkpede commented on #606
Can you confirm what results you're actually getting with the `SUPERSONIC_SHOCK` option? I'm having trouble producing something like what you see in the figure above.

When I run the `SUPERSONIC_SHOCK` option, I get no elements adapted (3626 elements for both cases).  This has to due with how the supersonic shock refinement is set up, which seems ad-hoc.  I don't think the `SUPERSONIC_SHOCK` optio

[2018-11-16 18:56] clarkpede commented on #609
Writing a simple unit test is difficult, since SU2 both doesn't have unit tests and wasn't written with unit testing in mind.  That being said, I've got a unit test that I'm happy with.  Our group has put our own unit-testing framework into our fork of SU2, based off of Boost and automake testing.  The unit test I created runs off of that framework.  That means it won't run out-of-the-box on the d

[2018-11-16 19:03] economon commented on #609
As Jacobians affect convergence rate and not accuracy, you could do a quick test of the same problem with the current version and the sign flipped to see if there is measurable difference in the convergence rate. If yes, then it should give you a hint about which direction. If no, then we should still correct it, but prob don't need to put in too much effort.

@clarkpede : I'm interested in your u

[2018-11-16 19:38] pcarruscag commented on #609
@juanjosealonso , @talbring ,
The jacobians are pre-accumulated when running in AD, is there an easy way to dump them and compare with what is comming out of the numerics?

[2018-11-16 20:47] LaSerpe commented on #609
All,
I just went briefly through the code and it doesn't seem that there is some hidden sign flip somewhere else.
Those signs were originally changed in the push made on Sep 20, 2014.
In that push, Salvo originally added the 'arbitrary' function and he changed the sign in the ideal one, possibly because he recognised that as a bug.
Probably the fix was then reverted in a later merge, I'll try to h

[2018-11-16 21:44] clarkpede commented on #609
@economon I tested a couple of simpler problems at subsonic speeds, including the ONERA M6 case at M=0.8395.  There's occasionally a difference of one iteration out of about 20.  Usually the current develop branch is the one that requires more iterations, but not always.  I included a snapshot from my tests on the ONERA M6 case at CFL=30.

![convergence_comparison](https://user-images.githubuserco

[2018-11-17 02:18] hlkline commented on #609
This looks good; with repeated and well-checked analytical derivations plus numerical checks, and given the scale and impact (a single line of code, and a slight change to convergence rate), if this was in a pull request I would approve it.
@juanjosealonso, @pcarruscag the AD information is still worth getting, and sharing the process of how to get it, since I'd guess that would be very useful for

[2018-11-30 12:29] galbramc opened #620 "su2Deform python 3.7 error"
I get the following error from su2Deform when using python 3.7 and SU2 6.1.0:

[code]

Any help fixing this would be greatly appreciated.

[2018-12-01 15:32] galbramc commented on #620
@economon it does work with python 2.7, I have not tried multiple versions of python 3, just 3.7. The failure occurs with the python script and does not get to the point where it starts executing SU2_DEG. The minimum example to reproduce the error is:

[code]
using [testing.cfg](https://github.com/su2code/SU2/files/2635991/testing.txt), but with a txt extension.

[2018-12-03 21:14] clarkpede commented on #609
This was resolved by PR #612.

[2018-12-03 21:14] #609 closed

[2018-12-04 00:47] alexfangman commented on #606
Sorry for the delayed response,

Yes, for some reason I still receive the same results using the SUPERSONIC_SHOCK option.

Thank you for the additional resources on mesh adaptation,
Alex

[2018-12-06 02:00] jayantmukho opened #627 "Cauchy criteria for Discrete Adjoint"
I was trying to run a discrete adjoint with the Cauchy Convergence criteria. But it wasn't terminating when it should have.

After doing some digging through the code, I came across a comment in CDiscAdjFluidIteration::Iterate where it says that only residual convergence criterion is possible.

It would be super helpful to add this as a comment in the config_template itself so that people aren't t

[2018-12-06 09:51] pcarruscag commented on #627
If I'm not mistaken the residual of discrete adjoints is based on normalized variation of the adjoint variables (since there is no conservation principle) and this is already akin to the Cauchy criterion.
Cheers,
Pedro

[2018-12-06 17:22] clarkpede commented on #606
Ok.  My advice would be to not use the `SUPERSONIC_SHOCK` option, but other developers may have further recommendations there.  It doesn't seem to be set up for general cases.

Are you having any further issues with the mesh adaptation? For example, is the `GRAD_FLOW` option working as you expected? Has the issue been resolved?

[2018-12-06 18:57] jayantmukho commented on #627
Aaaaahh, good point.

So this means that if the Cauchy criterion is used with the discrete adjoint, it is going to check if that normalized variation is changing. Which would seem to be a plausible stopping criterion as well.

[2018-12-06 18:57] #627 closed

[2018-12-08 04:21] alexfangman commented on #606
Yes, the GRAD_FLOW option has worked well for my simple application. I have not tried using it on other more complex problems or geometries.

[2018-12-12 09:11] sysu-tanlang commented on #502
Hello, vdweide. Thank you for your attention and this contribution. Did you ever try some testcases?  I am a beginner SU2 user. Can you maybe give us a configure file about S-K transition flat plate using LM model? Thank you!

[2018-12-12 09:22] sametcaka commented on #502
Below you can find a transitional test case using B-C model implemented in SU2:
https://su2code.github.io/tutorials/Transitional_Flat_Plate/

[2018-12-12 09:37] irevirdis opened #630 "Discrete Adjoint with NZONE=2 and bumps placement"
Hello everybody:
I would like to have more informations about the correct usage of discrete Adjoint when the fluid domain contains two different zones.
I tried to run a discrete Adjoint simulation using the test case "Axial_stage_2D" (inside the turbomachinery sub-directory); the cfg file has been modified in order to allow the adjoint calculation, Hick-Henne bumps have been set on both surfaces o

[2018-12-12 15:38] sysu-tanlang commented on #502
Samet, nice to meet you! Thank you for your suggestion! I have learned this model in current SU2 version. B-C model can provide quite good results in many teatcases.

[2018-12-20 12:16] #630 closed

[2019-01-04 20:18] economon opened #632 "4th Annual SU2 Developers Meeting - May 8-10, 2019"
I am pleased to announce the first details for the 4th annual SU2 meeting. Please save the dates:

4th Annual SU2 Developers Meeting
May 8-10, 2019
Villa Monastero, Varenna, Italy

We plan to keep the general hackathon / presentation / developers roundtable meeting format. More information as we have it.

Please mark your calendars and consider joining us! If you already intend to participate and

[2019-01-13 17:36] perjorgen commented on #559
I am getting the exact same error when I try to run it out of the box - even though if I add the restrictions I get a convergence.
I tried to run it multithreaded and got very different results and in some case crash with reboot.
Then I looked closer at the result - the result from quick start should look very similar to DSN_001, but it doesn't - could the problem be in the python wrapper since th

[2019-01-15 19:21] perjorgen commented on #559
Now I have tried to compile v6.1.0 on
- Ubuntu 1712, python 2.7
- Ubuntu 1804, python 2.7
- centos 7.6, python 2.7
- centos 7.6 python 3.6
and v.6.0.1 n centos 7.6, python 3.6

They all give the same result - could it be the hardware? it is a i7-8700K

[2019-01-30 23:06] komahanb opened #642 "FSI: Less arguments than in the C++ code"
https://github.com/su2code/SU2/blob/f4116f45f80b7360169e3126e58cc17e24f9aaa6/SU2_PY/fsi_computation.py#L109

The base C++ code ~/git/su2/SU2_CFD/src/driver_structure.cpp has five arguments:
[code]
However, the python script fsi_computations.py provides uses four arguments
[code]

# Missing argument error
This gives the following error during execution.
[code]
I was able to get rid off this error b

[2019-01-31 06:10] economon commented on #156
Fixed in #624

[2019-01-31 06:10] #156 closed

[2019-01-31 06:12] #36 closed, assigned to nobody

[2019-01-31 06:14] economon commented on #515
Thanks for the feedback.. this is resolved in #600

[2019-01-31 06:14] #515 closed

[2019-01-31 06:18] economon commented on #369
Resolved in #491

[2019-01-31 06:18] #369 closed

[2019-01-31 06:20] economon commented on #321
Hi @DominicMasters @ZenBel : have you been able to sort the issues? It might be worth checking these things again with the fixes in #600

[2019-01-31 06:22] economon commented on #291
@aeroamit : as you know, we have since updated the CGNS version and ship/build it automatically with SU2. Are you still having any issues, or can we close this for now?

[2019-01-31 06:23] #108 closed, assigned to nobody

[2019-01-31 11:17] pcarruscag commented on #596
Fixed in #597

[2019-01-31 11:17] #596 closed

[2019-01-31 16:59] aeroamit commented on #291
Hi @economon : I posted this around 2 and half years back. This doesn't seem to be an issue now (1- Due to continuous development and 2-  hardware upgrades). I will close this for now.

Thanks

[2019-01-31 16:59] #291 closed

[2019-02-01 00:25] pcarruscag opened #643 "Linear Algebra library"
Hi Folks,

I would like to collect the views of the community about something (and I apologize if this has been debated already).

Context:
Once again I find myself working on a feature that will require a bit of dense algebra.
I think implementing (i.e. paraphrasing from Numerical Recipes...) that kind of routine is a waste of time because someone has done already, and they have done it well.
Mor

[2019-02-01 00:43] bmunguia commented on #643
@EduardoMolina and I have discussed this over the past few weeks and are also in favor of using an external library. I don't have a strong opinion on the library we choose, but he seems to be in favor of [PETSc](https://www.mcs.anl.gov/petsc/) from ANL, which has a 2-clause BSD license and is used by ADflow (formerly SUmb), among other solvers. Eduardo could probably provide more details.

Another

[2019-02-01 01:02] juanjosealonso commented on #643
All,

I would agree that we need to look at an existing library and not re-develop one.

The standard for dense linear algebra is LAPACK. It has been around forever, relies on BLAS routines, is currently being used in the SU2 higher-order DG-FEM solver. Various computer vendors (including GPU manufacturers) have spent many years optimizing BLAS and LAPACK calls on their own computer architectures.

[2019-02-01 05:46] erangit commented on #643
Hi
I also support external libraries usage (no need to repeat the many advantages as it is well described above) but I think we should be very wary of portability issues. For instance in SUMB, PETSc was used for the Krylov solvers and more. While indeed it worked well and in parallel mode, each new implementation was a nightmare. LAPACK/BLAS package, on the other hand, provides a much easier imple

[2019-02-01 09:03] pcarruscag commented on #643
(I was not expecting this many comments so quickly, thanks guys!)

First let me clarify the intent.
I do not propose replacing the routines that deal with CSysMatrix, or change its format, all that (Krylov solvers, sparse approximate factorizations, etc.) is relatively independent from what I have in mind.
Nevertheless being able to use PETSc or HYPRE would be interesting as it would give us acces

[2019-02-01 09:14] rsanfer commented on #643
Hi all,
really interesting topic going on here. As @pcarruscag just very well explained, and after quite some time working on the code, I can totally see the need for dense algebra.

I agree with @juanjosealonso and @erangit that maintaining the code portable and very easy to install should be a must. It has been a signature of SU2 since the beginning and we should continue on that line. I've had

[2019-02-01 09:49] Neumy94 opened #644 "input file for time variable pitching movement"
Is there a possibility to implement an inputfile for realising a time variable pitching amplitude and frequency in the dynamic mesh definition?

[2019-02-01 12:19] vdweide commented on #643
Would it be an idea to create a branch to test things out and make a decision based on the results? It would be interesting to see the performance for e.g. the dense matrix multiplications in the DG-solver compared to Intel's MKL.

[2019-02-01 13:39] talbring opened #645 "Consolidation of communication channels"
Please join the [slack](https://slack.com) workspace by clicking [here](https://join.slack.com/t/su2devteam/shared_invite/enQtODE2MzQ1MTk4NDA0LWYxNzM0NGM0YTMxNWY0NmY5NDU2YzllNGJlMmU2ZTU0ODJiNWExZDNkZjdiMTNlMjE5OWRjNzI3OGM1OWFkOTE).

This enables direct communication with the developers! Still, please use Github Issues for reporting bugs and feature requests.

[2019-02-01 19:48] juanjosealonso commented on #643
All,

I looked a bit more through Eigen and, indeed, the performance is pretty impressive and generally better than MKL and Atlas (the self-tuned implementation of LAPACK) ant most/all matrix sizes.

I agree with comments made by @pcarruscg that having a standard for matrix operations throughout the source would clean up /simplify the code considerably and, since it does not seem to impact the AD

[2019-02-01 20:02] vdweide commented on #643
Most of the LAPACK/BLAS calls in the DG-FEM solver go via blas_structure.cpp, so that should not be too much work, I guess.

Edwin

[2019-02-01 20:56] pcarruscag commented on #643
From my experience performance will not be better than current MKL, unless the matrices in question are small and their sizes known at compile time.
The selling point is not speed vs MKL, is that you get the same speed (if using a BLAS backend) plus the syntactic sugar, plus compatibility with any data type.
The DG solver is probably one of the most optimized parts of SU2 so I doubt it would gain

[2019-02-02 18:14] juanjosealonso commented on #643
All,

The following page has performance comparisons between eigen and mkl (and others):

http://eigen.tuxfamily.org/index.php?title=Benchmark

They are dated 2011, so they are a bit old, but if the quoted performance is real, I would say it is a no-brainer to switch to eigen.  If the performance tests (for at least simple things like daxpy and gemm) could be repeated to verify the numbers, that w

[2019-02-02 18:38] BBArrosDias opened #646 "Cmake capabilities"
Hello,
Is it there any plan to add Cmake capabilities to SU2?

[2019-02-02 20:41] economon commented on #646
@BBArrosDias : thanks for the question. At the moment, there are no plans for Cmake. If this is a major pain point for the community (or if someone in the community has already added it and would like to contribute it), we are happy to consider it. Overall, folks seem fairly pleased with how autotools is performing on many different platforms.

[2019-02-03 14:10] pcarruscag commented on #643
@vdweide, I hacked the configuration scripts to clone Eigen into externals and added the required search paths and flags in configure.ac. I also put an include in blas_structure just to test and looks ok.
I suggest we both work on this branch and create a PR once we have a "demo" working.

[2019-02-03 21:51] vdweide commented on #643
Thanks, I hope I can run some tests in the next couple of weeks and compare the performance with other implementations, especially MKL, because this gives the fastest results at the moment.

[2019-02-05 01:45] hlkline commented on #645
Given that this isn't the first attempt at consolidating communication & discussion threads (including slack and SU2 IDS); could you describe in a little more detail how the discussions on rocket.chat will be different from those on github threads like this one, or from the threads on cfd-online/forums/su2?

I'm sure it's a great service, and I can tell that you've put a lot of thought into what t

[2019-02-05 09:03] rsanfer commented on #620
Hi all, I am also seeing this error with Python 3.7.2 in the finite_difference.py script. I replaced 'len(new_value)' with 'len(list(new_value))' here and there but then the DV_VALUE_NEW doesn't get correctly set. Any new hints?

[2019-02-05 14:54] pcarruscag commented on #643
Hi @EduardoMolina,

That is something I am also interested in as for some of my structural cases the current linear solvers simply do not converge. However Eigen is not the tool for that as the sparse linear solvers it has are similar and are not distributed parallel.
When I opened this issue I was thinking exclusively about how we handle small-medium dense matrices that live on a single rank, and

[2019-02-05 15:06] pcarruscag commented on #643
All,
If you have a look at "feature_test_eigen", I "ported" the JST ComputeResidual method.
I only changed the local variables of the method, so some temporaries are required to make things compatible with the outside world and with base class variables. Nevertheless, the performance is not worse (direct and discrete adjoint) and I think it reads better, but that is subjective.
Pedro

[2019-02-05 16:54] juanjosealonso commented on #643
Folks,

Perhaps we can split this issue to a separate thread.  But it is indeed a critical one.  Improving performance of the solver (or trying other preconditioned solvers) would be a significant improvement amortized over a very large number of users.

Add it as a topic of discussion for the Annual Meeting in May?

Juan

On Feb 5, 2019, at 6:54 AM, pcarruscag <notifications@github.com<mailto:not

[2019-02-05 18:23] petebachant commented on #620
@rsanfer can you post the traceback?

[2019-02-05 21:31] economon commented on #643
Agreed that it is a bit different...

I would add one practical comment for consideration: it is worth checking whether the main restriction we have is related to approximations in the Jacobian that limit the effective CFL we can use or whether the convergence of the linear solver itself is a problem (speed or complete lack of convergence). A quick test without resorting to another library is to i

[2019-02-05 23:47] pcarruscag opened #648 "Linear Solvers (for large sparse systems)"
The discussion in #643 revealed that this (the performance of the linear solvers) is a concern for a lot of us.
I am opening this issue so we can discuss each issue separately, I will quote relevant comments from #643 below.

[2019-02-06 00:00] pcarruscag commented on #648
Since the slow convergence of the SU2-FV is the main feedback that I received from other users from industry and academia, I think it worth try an external library and evaluate the performance. (...)

I think that is everyone.

[2019-02-06 01:59] aeroamit commented on #648
Following this discussion, I want to share certain points related to convergence -

1- Some good/fast solution initialisation methods will be helpful to start with (commercial solver like Fluent uses Full Multigrid initialisation /FMG - euler initialisation, which provides fast initial guess to start with)

2- Switching from first order to second order gradually will be helpful

3- Smart/tuned CFL

[2019-02-06 05:45] vdweide commented on #648
There is one thing that is not mentioned yet, which is rather important. I assume we are talking RANS here. In that case it does not make sense to ramp up the CFL number to values higher than 50 or so with the current segregated setup of mean flow, turbulence and possibly transition solvers (not even talking about multidisciplinary problems). The segregated character makes it extremely flexible fo

[2019-02-06 16:18] talbring commented on #620
I fixed that bug in #641. (https://github.com/su2code/SU2/pull/641/commits/c22a5c5cfe7daec4deacbec621d278d26362c5d3)

[2019-02-06 16:18] #620 closed

[2019-02-07 19:26] economon commented on #584
Resolved in #586

[2019-02-07 19:26] #584 closed

[2019-02-07 19:39] economon commented on #644
I think there are two options, but both will require checking the code.

1) Go into grid_movement_structure.cpp and hack the Rigid_Pitching() routine to use your own function in time. Not elegant, but should just be a couple of lines to change.

2) A more general feature was implemented in the past to specify movement of surfaces in time by position of all surface nodes, but should be checked to m

[2019-02-08 21:10] economon commented on #599
This has been added to the docs within the website repo in preparation for v6.2.0.

[2019-02-08 21:10] #599 closed

[2019-02-09 20:08] vdweide commented on #643
Folks,

I replaced the matrix multiplication in the DG solver (gemm in terms of BLAS) with the functionality provided by Eigen. It was very easy and it gives a very readable code.

I ran a couple of tests and, unfortunately, the preliminary conclusion is that you only get good performance if you let Eigen use an optimized BLAS implementation. In my case I used MKL. Compared to directly calling the

[2019-02-09 22:04] pcarruscag commented on #643
Hi @vdweide,

Thank you for testing this out.
I had a look at the code and I think the overhead may be partly due to the multiplication function being compiled in one library and used in another. Which leaves little chance for some boiler plate code in the Eigen::Map class to be optimized way. If you share the test case and it fits in 16GB of ram I am happy to hack a bit and try to get those 10%.

[2019-02-11 08:11] vdweide commented on #643
@pcarruscag

Of course I can make the test case available. Could you give me your email address, such that I can send you a link?
The typical size of the matrices is problem dependent. You can profile the gemm calls by adding the -DPROFILE flag to the compiler options.

Edwin

[2019-02-11 10:02] MaxSagebaum commented on #643
The adjoint handling of the Eigen library can actually be a two step process. In the first step we just use the BlackBox differentiation of Eigen. This will work for every user in the primal code and adjoint code.

As a second step we would then look into the BLAS wrapper of Eigen and check if we can provide a special treatment for the adjoint aka CoDiPack version. In general there are two options

[2019-02-12 18:11] jayantmukho commented on #648
@aeroamit
To your first point about solution initialization, @bmunguia and I are working on a solution interpolation scheme that would allow for euler initialization, and interpolation between different grids (assuming they occupy the similar domains). Hoping to have it ready for SU2 7.0

[2019-02-13 12:28] pcarruscag commented on #643
Hi @MaxSagebaum,

The two options in your second step sound very interesting and I guess are the only way to get good performance for arithmetic intensive operations, like the ones in the DG solver.

If I understand correctly option 1 is something that could be tried already, by applying the external function mechanism to the gemm and gemv functions (akin to what is done now for large linear syste

[2019-02-14 09:43] MaxSagebaum commented on #643
On both questions the answer is yes. Option 1 can be implemented right now but will require the creation of temporary objects. Option 2 can directly forward the data to the blas routines.

The tool I am developing is no tool for a specific linear algebra package. The idea is, that the tool parses the header files of the library. The user has then to define which objects are active lvalues and the

[2019-02-14 11:22] pcarruscag commented on #643
Thanks Max that sounds very promising indeed.

To everyone else, a quick update on the issue of performance vs. MKL.
I played a bit with @vdweide 's case and it does not seem trivial to get those 10% of performance back, at least not without a lot of restructuring.
I did however measure the performance of native gemm in Eigen to be "only" 2.5 times worse than MKL, after some emails we determined t

[2019-02-14 18:07] WallyMaier opened #651 "Segfault in ROE solver"
A segfault occurs when running Roe convective flux explicitly if jump variables are too high.
Line 3278 of numerics_direct_mean.cpp

Occurred when running high mach number (M=24) flow.

[2019-02-15 11:14] talbring commented on #632
Registration is now open! Just head over to https://su2code.github.io.

[2019-02-16 16:47] EduardoMolina commented on #651
Wally,
Could please share the config file and point to the grid that you used?
Eduardo

[2019-02-18 06:30] economon commented on #645
@hlkline : it is true that we have been experimenting a lot to find the best formula, and no doubt we will continue to tweak things as we constantly evolve. But, one constant you can always trust is that the repo will be the home for important decisions on issues and PRs, so there is no need to worry about missing critical updates.

With slack and now rocket chat, we are looking to improve communi

[2019-02-19 18:55] WallyMaier commented on #651
Sorry!
Here are the files!

[ramc61km_flow.cfg.txt](https://github.com/su2code/SU2/files/2881529/ramc61km_flow.cfg.txt)
[RAM-C_II_nondegen10deg.su2.txt](https://github.com/su2code/SU2/files/2881531/RAM-C_II_nondegen10deg.su2.txt)

[2019-02-21 00:00] Geremia opened #655 "How does one do electrodynamics simulations in SU2?"
The [description of SU2][1] says

Are there any examples of how [SU2][2] "has been extended to treat more general equations such as electrodynamics"?

  [1]: https://github.com/su2code/SU2#su2-introduction
  [2]: https://github.com/su2code/SU2

[2019-02-26 18:14] #651 closed

[2019-02-26 18:14] WallyMaier commented on #651
PR #654

[2019-03-04 13:43] amirkb91 opened #659 "AD Build fail with OpenMPI"
Hi All,

It seems that the AD build fails with OpenMPI 4.0.0. I don't really know where the source of error is, but I suspect it's with CGNS and how it's handled by OpenMPI?

The error is as follows:

In file included from ../../../Common/lib/../src/../include/./mpi_structure.hpp:42:0,
                 from ../../../Common/lib/../src/../include/geometry_structure.hpp:41,
                 from ../.

[2019-03-04 23:25] amirkb91 commented on #659
It has occurred to me that perhaps I need to compile hdf5 on my system for the parallel integration of CGNS with OpenMPI? I think this might be why make is throwing that error. I'll report back after trying it.

Amir

[2019-03-04 23:45] economon commented on #659
I do not think that it is related to CGNS in particular (and no need to build hdf5 anyway, we aren't using it), but rather, there are some MPI issues there. Looks like MPI_Keyval_free() is causing a problem? I think this was deprecated, so perhaps the MPI wrapper is having trouble with something in OpenMPI 4 (or maybe this function was completely removed in the new version).

Thanks for reporting

[2019-03-05 14:47] talbring commented on #659
I just noticed the same problem. It is related to the current medi version we use. I have to update it to the newest version I guess. Gonna look into it ...

[2019-03-05 17:37] amirkb91 commented on #659
Hi,

Thanks so much for the replies. I can confirm that the problem indeed lied with OpenMPI 4.0.0. I tried with OpenMPI 3.0.3 and the AD build was successful. Thanks again.

[2019-03-07 22:44] jayantmukho commented on #581
After hibernating on this over the winter, I finally had some time to put some work into this. I am in the process of running a number of cases. So far I have results for 2 RANS cases with mesh convergence studies. These can be seen at https://github.com/su2code/VandV

The repo contains the relevant meshes and configuration files for each mesh level. It might not be necessary to have the different

[2019-03-13 10:56] #659 closed

[2019-03-14 05:36] economon commented on #581
Nice start, @jayantmukho!

Let's see what folks think.. any comments or specific outputs/figures people would like to see? I think, for your first cases, that the grid convergence plots are what will be expected.

Once things are more refined, we can open it up and all start helping you add more cases.

[2019-03-15 16:27] hamid1attar opened #661 "SU2 mesh deformation for steady state simulation"
Hello,

I am running a wing problem, in which I have deformed coordinates of a wing surface that I am supplying externally. I have the original .su2 mesh file which is undeformed, and I wish to supply the new deformed coordinates of the wing surface to be used to deform the mesh, and then run a steady state simulation using SU2_CFD on the deformed wing. I have the .cfg file, undeformed .su2, and t

[2019-03-15 19:23] WallyMaier commented on #655
The branch "feature-AdjTNE2" includes chemically reacting flows (SU2v3, I believe). There was a plasma functionality but was removed; you can probably find it in SU2v2 or v3.  Good luck!

[2019-03-18 18:38] economon commented on #661
Hi: please use the SU2_DEF module (with DV_KIND= SURFACE_FILE) to create the new mesh first before running SU2_CFD. Try the attached config file and rename your new coordinates file to 'surface_positions.dat'
[inv_goland.txt](https://github.com/su2code/SU2/files/2979714/inv_goland.txt)

[2019-03-24 08:55] ayuxjh opened #662 "How to add a dynamic library into makefile?"
Hello,
     Now I only want to compile the SU2_CFD module, so I type the "make" instruction under SU2-6.2.0/SU2_CFD/obj,  and it works very well.  Now I want to link a dynamic library when compiling, （I don't have a deep knowledge of automake tools.... sad..-.-\\\）, but I know they are made to produce the makefile only, so I guess maybe modify few lines of makefile that link the dynamic lib succes

[2019-03-27 06:33] #526 closed

[2019-03-27 06:34] timjim333 commented on #526
Just realised that I never closed this issue. Your fix works fine!

Thanks and regards,
Tim

[2019-03-31 22:04] pcarruscag commented on #662
Hello,
You need to use the appropriate environment variables, here is for example how I build one of my branches:
export CXXFLAGS="-Wno-deprecated-declarations -O3 -march=corei7-avx -I/rds/general/user/me/home/pastix/install -I/rds/general/user/me/home/Eigen335"
export CPPFLAGS="-DHAVE_PASTIX -DHAVE_LAPACK -DEIGEN_NO_DEBUG -DEIGEN_DONT_PARALLELIZE"
export LDFLAGS="-L/rds/general/user/me/home/pasti

[2019-04-05 08:08] ZenBel commented on #466
Hello,

Is there someone still working on this topic? I saw that feature_MeshInterpolation hasn't been updated in a year and I was wondering whether there are other active branches where something similar is being developed.

[2019-04-24 09:57] karthikm2297 opened #673 "Equivalent Area"
Hi everyone,

When I try to run an equivalent area calculation for a supersonic aircraft, I'm unable to obtain any results.

EQUIV_AREA= YES

EA_INT_LIMIT= ( 0, 35, 0.5 )

EA_SCALE_FACTOR= 1.0

FIX_AZIMUTHAL_LINE= 90.0

Here are the options I'm using. Are the integration limits dimensional or non-dimensionalized? How do I obtain an output equivalent area as a function of x, as in the figure below

[2019-04-29 15:44] cadowd opened #675 "SU2_GEO unable to properly calculate widths and heights for symmetric meshes"
The current implementation of the Compute_Width, _Length, _Height functions in geometry_structure.cpp do not work properly when dealing with meshes that use planes of symmetry (meaning the body is "open" along the symmetry plane).

This is not super critical for wing geometries, where the stations can take slices of closed loops, however for fuselage type geometries the slices are in the yz plane

[2019-04-30 12:57] #662 closed

[2019-04-30 17:58] economon commented on #252
Resolved by #652

[2019-04-30 17:58] #252 closed

[2019-04-30 18:02] economon commented on #416
Resolved by #652.

[2019-04-30 18:02] #416 closed

[2019-04-30 18:02] economon commented on #431
Resolved by #652

[2019-04-30 18:02] #431 closed

[2019-04-30 18:05] economon commented on #550
Resolved by #652 - @clarkpede : if you still find any issues with the new implementation, do not hesitate to open a new issue.

[2019-04-30 18:05] #550 closed

[2019-05-07 17:00] amirkb91 opened #679 "Get gradients using AD"
Hi all,

I am trying to use the AD module in the discrete adjoint solver to calculate the sensitivity of the lift coefficient with respect to the closure coefficients of the SA turbulence model.

I've created new variable names in the CConfig class for the SA closure coefficients and have modified the code so that it reads the values for the coefficients from the config file, instead of the given

[2019-05-10 09:44] WallyMaier opened #680 "nvm"
nvm

[2019-05-10 13:53] #680 closed

[2019-05-13 13:04] pcarruscag commented on #679
Hi @amirkb91,
It sounds like you have done things the right way, so if the variables are not being reset after they are registered my next guess is that they are not being considered for pre-accumulation. Try running the code without pre-accumulation (there is a config option, no need to recompile) and see if that makes a difference.
Cheers,
Pedro

[2019-05-13 16:12] amirkb91 commented on #679
Hi Pedro,

Thanks for your reply.

I tried without the pre-accumulation (PREACC= NO in config file) and still the returned derivative is 0.
In the existing code, when design variables such as Temp and Pressure are registered as AD inputs, their values are re-set using appropriate Set__() functions from the config and solver classes. I have also done the same thing with the SA coefficients, by pass

[2019-05-13 17:19] pcarruscag commented on #679
The solver with the closest functionality to what you are trying to do is the elasticity solver, it may be worth having a look there. But in a nutshell there the variables we want to differentiate are held by (members of) the discrete adjoint solver, they are reset before being registered as inputs to clear the derivative information, and it is important that they are left alone during the recordi

[2019-05-14 17:21] amirkb91 commented on #679
Hi Pedro,

Thanks a lot for your help. I will take a look into the elasticity solver. Reflecting on your comments, I am not sure whether the SA coefficients are left alone during the recording phase as it currently stands. Will look into this but this may very well be the reason why the gradient is returned as 0.
Here's the link to the branch I'm working on. If there's anything sticking out which

[2019-05-14 17:56] pcarruscag commented on #679
Hi Amir,
I just had a look and that is not going to work I'm afraid.
The numerics classes are not getting the value of the coefficients from the variable that you register as input, this happens because config returns cb1 by value, meaning that what you register as input is not CConfig::cb1_usrdef (seen by numerics) but CSolver::cb1_adj.
You can try registering CConfig::cb1_usrdef as input, making

[2019-05-16 15:25] amirkb91 commented on #679
Hi Pedro,

Thanks, that makes a lot of sense actually. Out of curiosity I tried the hack you suggested. I set cb1_usrdef to a public variable in CConfig, and registered config->cb1_usrdef as the AD input (config is assigned as a pointer to CConfig already). In the numerics classes I also assigned cb1=config->cb1_usrdef, to ensure it's the same variable as the one registered as input in AD. This st

[2019-05-17 06:14] marcovanderbijl opened #682 "double parameters in SU2/config_template.cfg"
Double parameters in SU2/config_template.cfg
lines 25 to 29 and
lines 61 to 65 both specify
    % Specify Hybrid RANS/LES model (SA_DES, SA_DDES, SA_ZDES, SA_EDDES)
    HYBRID_RANSLES= SA_DDES
    %
    % DES Constant (0.65)
    DES_CONST= 0.65

Also double is LOW_MEMORY_OUTPUT= NO
on lines 1311 and 1339 in SU2/config_template.cfg

Also I noticed line 184 in SU2/config_template.cfg
    % Reference

[2019-05-17 08:25] timjim333 opened #683 "Stuck in Geometry Preprocessing: Checking the numerical grid orientation."
**Describe the bug**
Certain meshes seem to get stuck at Geometry Preprocessing: Checking the numerical grid orientation. It will remain stuck indefinitely (I've only left it for up to 20 hours, however).

This has only happened to prism meshes that I've generated with Pointwise's T-Rex function. However, it only seems to affect some of them.

I should mention that the geometry has a very sharp an

[2019-05-17 09:09] talbring commented on #683
Thanks @timjim333.

I just tried the case using the newest develop version. I get

[code]

So there seems to be an issue with the connectivity in the mesh file. Can anyone else try to run this case to see if we get some consistent information ?

Tim

[2019-05-17 09:38] vdweide commented on #683
I'll give it a try.

[2019-05-17 10:21] vdweide commented on #683
I tried on 1, 4 and 24 cores and I get the same error message as @talbring. This indeed indicates that something is wrong with your grid. The fact that your computation is stuck is most likely caused by your MPI implementation.

[2019-05-17 10:21] #683 closed

[2019-05-20 08:24] timjim333 commented on #683
Thanks for trying this out. @talbring I don't get the same - I guess it's because I'm using a release version as opposed to the develop. Is the develop stable enough for general use?

@vdweide you mentioned it could be an issue with MPI? As far as I can tell, everyone on the HPC is also referencing the same MPI - do you have any tips on how I might debug this?

Thanks again.
Tim

[2019-05-20 08:31] vdweide commented on #683
@timjim333, create a sequential executable and run it on one core. It may take a couple of minutes, but it is not too bad. Then MPI is not used and you should definitely get the error message. I don't think there will be much of a difference in the release version and develop version for this problem.

As far as the MPI is concerned, a one-sided communication is used for the error message. Sometim

[2019-05-20 08:57] timjim333 commented on #683
@vdweide I'm using the Intel MPI Library for Linux* OS (Version 2018 Update 2 Build 20180125) - it's the one that is available on our supercomputer system at the moment. I was running on 40 cores.

I also have a version of SU2 compiled with OpenMPI 3.0.0 on my personal workstation but I don't have the required RAM to get to the point where I get the error, however.

It seems strange that it happen

[2019-05-20 09:44] vdweide commented on #683
I am using Intel MPI as well, but on Ubuntu 18.04 and I get a clear error message. The likely reason why it hangs for you for this grid and not for the others is that this grid has an issue and the others do not.

Can you run it on one core of your supercomputer?

[2019-05-20 10:03] timjim333 commented on #683
I'll give it a go and get back to you. Thanks @vdweide

[2019-05-20 10:34] timjim333 commented on #683
On running with a single core, I also get a similar error (attached below). In this case, I'm guessing that it doesn't like the 2D element? This seems strange as it managed to handle a few cases where flat cells were also present, do you have any thoughts on this?

Also, is it possible to identify the location of the cell based on the error message?
Many thanks,
Tim
[code]

[2019-05-20 10:59] vdweide commented on #683
As the error message indicates, a surface element is not part of a volume element. At least, the solver is not able to find one. From the error message this happens for surface element 133348 of marker 0.

[2019-05-20 11:03] vdweide commented on #683
Actually, the part that worries me a bit, is the fact that the error handling does not seem to terminate the MPI job appropriately. @talbring, could this be caused by the one-sided communication that is used for this purpose?

[2019-05-20 12:36] timjim333 commented on #683
@vdweide How does SU2 organise the surface elements? As I have created the SU2 input mesh as a direct export from Pointwise, I don't think that the numbering system matches up.

[2019-05-20 12:41] vdweide commented on #683
Indeed, the export from Pointwise should work just fine. It could be that this is a degenerated case. Is it possible for you to visualize the troubled region in Pointwise?

[2019-05-20 12:46] timjim333 commented on #683
Sorry @vdweide - what I mean is that I'm not sure how to locate the troubled region. Does SU2 run a table or dictionary relating the surface element number to a physical (x, y, z) coordinate? As far as I can tell, the run just fails without any outputs. Do I need debugging mode turned on or something similar? Thanks.

[2019-05-20 15:19] vdweide commented on #683
You have to look for the connectivity of surface element 133348 of marker 0 in the grid file. Then you can look up the coordinates of the corresponding points in that same grid file.

[2019-05-20 15:47] EduardoMolina commented on #683
Hi,

You can also use the mesh quality tools of Pointwise. It will be easier to find where the bad element is located.

Eduardo

[2019-05-20 16:16] marcovanderbijl opened #684 "MAX_NUMBER_FFD = 15"
I found that SU2/Common/include/option_structure.hpp sets a limit on the number of FFD boxes
MAX_NUMBER_FFD = 15;	     /*!< \brief Maximum number of FFDBoxes for the FFD. */

Is there a reason for this limit or can I simply set it to a higher value and recompile?
I would like to have 65 boxes (that would make one box per wing segment for the wing that I am designing). But I think I can work with 2

[2019-05-20 16:41] amirkb91 commented on #679
Hi Pedro,

I tried the other solution you suggested. I declared a new private variable inside the solver class, which I assigned as config->cb1_usrdef. I registered this as the AD input. I then set a method inside the solver class which returns this value when called.
In the Numerics class, instead of reading cb1 from Config as I used to, I read it from the Solver class, using the method mentioned

[2019-05-20 19:26] pcarruscag commented on #679
Hi Amir,
If you create a solver object inside numerics how will this new solver know about the solver that is actually using numerics? The way the code is written does not make the relations between classes very clear as the solver and numerics containers get passed around quite freely... But the solvers are clients of the numerics (I think there are good diagrams of this in some of the papers), i

[2019-05-21 02:36] aeroamit commented on #683
All above,

Can any one share the experience of the mesh quality matrix acceptable by SU2.

In Pointwise, one can follow maximum included angle, centroid skewness or equiangle skew as guiding parameters. I have observed that some of the commercial Solvers can  accepts and run a very high max included angle (179.99 or so) also without trouble but some others have issues with the same.

Many times d

[2019-05-21 06:50] marcovanderbijl commented on #645
Status?
At may 21, 9AM europe time
I am getting a
"This Workspace has been Stopped"
message from URL
https://su2.rocket.chat/

[2019-05-21 13:34] vdweide commented on #683
@timjim333, I checked your grid with just connectivity info and I get the following error messages

Boundary marker  BODY, surface element 77477: No corresponding volume element found.
Coordinates of the points
0.1815790.04981870.0020471
0.181850.04994770.00205104
0.1816670.04971090.00204381

Boundary marker  BODY, surface element 133348: No corresponding volume element found.
Coordinates of the p

[2019-05-21 13:37] vdweide commented on #683
Oeps, there should have been spaces between the (x,y,z) coordinates, but I guess you can figure out that yourselves.

[2019-05-21 13:53] talbring commented on #645
Hi @marcovanderbijl

unfortunately the trial phase ended ... we currently in contact with the guys at rocket chat to see whether they can further support us!

[2019-05-22 05:53] timjim333 commented on #683
@aeroamit I don't have a definitive source but just based on random Pointwise tutorials and videos I've come across, I've collated some general pointers for the tetrahedral portions of the mesh (perhaps other users can chime in if they have better values):
• Equiangle
	- Max ratio of the cell's included angle to the angle of the equilateral element
	- Between 0 and 1
	- Keep below 0.8
• Equivolume

[2019-05-22 05:58] timjim333 commented on #683
@vdweide Thanks for the update. How does one bring up this information? Is this referring to a 2D cell where a 3D one is expected?

[2019-05-22 06:50] vdweide commented on #683
I simple wrote a program to test the grid, which searches for the boundary elements in the single faces, i.e. faces that are only part of one volume element, of the volume grid. What the error message means is that for 4 triangular surface elements of boundary marker BODY there is no corresponding face of the volume elements that is only part of one volume element.

When I include the faces that a

[2019-05-22 14:10] talbring opened #685 "Meson build system"
Hi all,

I experimented a little bit with a different build system to replace automake/autotools. Although it works most of the time fine, it is cumbersome to work with. Especially when modifying the .am files and the configure.ac due to the complicated syntax. Furthermore it is relatively slow.

One alternative would be cmake, however, the syntax is also not very comfortable and it has too many f

[2019-05-22 14:30] talbring commented on #685
To see a major advantage, just compare the `meson.build` and the `configure.ac` file ...

[2019-05-22 15:18] davetaflin commented on #685
Tim,

I can share some initial impressions. I’m trying to build the Mesa 3D graphics library, which recently switched to Meson and Ninja. They are pretty impressive. It looks like Meson uses both pkg-config and (more recently) CMake under the hood. For specific packages that don’t play nicely with pkg-config, it will look for other similar utilities, such as llvm-config for the LLVM library.

I ha

[2019-05-22 19:17] aeroamit commented on #683
@timjim333,

Yah, those are the general guidelines you mentioned but they do not always work in practical cases.
We will probably know more details when people will share their experiences and issues faced.

I have tried meshes with max include angle 175 or below, they go well. Even upto 179 also go through.
But I had trouble recently while just giving a trial for 179.8 or more case.
One thing to

[2019-05-23 05:57] economon commented on #684
@marcovanderbijl : thanks for the question. The original limit there is simply to impose an upper bound for memory considerations, since the first instantiation of the array of FFD boxes (before the number of FFD boxes embedded in the mesh is detected) needs a default value. We can of course change this to automatically detect the number to avoid the requirement or make it an input option in the c

[2019-05-23 07:16] economon commented on #685
meson.build does indeed look short and clean. Tried this on mac, and hit the following error (I guess the OS is more picky?):

ERROR: Could not detect Ninja v1.5 or newer

Any issue with updating to a newer ninja version in the bootstrap?

Also, for older git versions (like mine apparently), you may need to add the --init and --recursive flags to 'git submodule update'

[2019-05-23 08:21] talbring commented on #685
@economon Hm ok, that is strange. The one that it builds is the newest on github (v1.9). On linux meson finds ninja if it is in the root directory of the source code (which should be there after bootstrapping), apparently that is not the case on mac.  Can you check whether it works when you add the source dir in your path variable? Like @davetaflin also mentioned for windows, on mac you can also d

[2019-05-23 13:12] marcovanderbijl opened #687 "discrepancy between config_template.cfg and option_structure.hpp"
option_structure.hpp:
FFD_TWIST = 15,	 /*!< \brief Free form deformation for 3D design (change the twist angle of a section).
FFD_CONTROL_POINT_2D = 19, /*!< \brief Free form deformation for 2D design (change a control point).

  config_template.cfg:
%    FFD_CONTROL_POINT_2D (  15, Scale | Mark. List | FFD_BoxTag, i_Ind, j_Ind, x_Mov, y_Mov )
%    FFD_TWIST    	     (  19, Scale | Mark. List | FF

[2019-05-23 13:16] marcovanderbijl commented on #684
thanks! should I close issue,.. or will someone take it up and code auto FFD box number detection?

[2019-05-23 13:21] marcovanderbijl commented on #682
great! I just added a new issue that also involves config_template will check source if that one is also solved

[2019-05-23 14:13] marcovanderbijl opened #688 "config_structure.cpp bad comment"
in SU2/Common/src/config_structure.cpp:

  addStringListOption("DV_MARKER", nMarker_DV, Marker_DV);
	/* DESCRIPTION: Parameters of the shape deformation
   - FFD_TWIST_ANGLE ( FFDBox ID, x_Orig, y_Orig, z_Orig, x_End, y_End, z_End ) */

I think FFD_TWIST_ANGLE is superseded (needs confirmation) by FFD_TWIST_2D and FFD_TWIST but the comment has not been updated to reflect this.

If FFD_TWIST_ANGLE

[2019-05-23 16:26] talbring commented on #688
@marcovanderbijl you can go ahead and open a pull request if you want (or push changes to #686) :+1:

[2019-05-23 16:46] WallyMaier commented on #682
This issue was addressed in pull #686

[2019-05-23 16:46] #682 closed

[2019-05-23 16:54] davetaflin commented on #685
I would give a cautious yes, cautious because Meson appears quite new, and probably still has some wrinkles to iron out. It’s definitely worth a try.

Dave

From: Tim Albring [mailto:notifications@github.com]
Sent: Thursday, May 23, 2019 1:21 AM
To: su2code/SU2 <SU2@noreply.github.com>
Cc: Dave Taflin <d.taflin@tecplot.com>; Mention <mention@noreply.github.com>
Subject: Re: [su2code/SU2] Meson bui

[2019-05-23 19:49] marcovanderbijl commented on #688
atm that still sounds like magic to me,... I really should learn this github stuff. But I was more hoping some experienced coder would pick this up instead of my messing up the code.

[2019-05-23 20:15] TobiKattmann commented on #685
Just as @economon I also had to `git submodule update --init` and I had the same `ERROR: Could not detect Ninja v1.5 or newer`. I am running on a RHEL Server 7 with git 1.8.3
I got everything to run after running the `./bootstrap.py` in `externals/ninja/` and adding that very directory to my PATH.
Two small hints for everyone trying: ` ./ninja -C build -j #cores` and the SU2_CFD binary is then in

[2019-05-24 05:53] marcovanderbijl opened #689 "what happened to FFD_DIHEDRAL_ANGLE"
SU2/Common/include/option_structure.hpp
Ln1637)
Enumerates FFD_DIHEDRAL_ANGLE = 17,	 /*!< \brief Free form deformation for 3D design (change the dihedral angle). */

but it seems to be missing from the list
Ln2739)
switch (this->design_variable[iDV]) {
        case NO_DEFORMATION:       nParamDV = 0; break;
        etc.

[2019-05-24 08:30] talbring commented on #685
I don't understand it ... Do you get the following message when running meson ?

[code]
Because then ninja should be build and placed into the source root folder where meson finds it. For me it works locally and on our cluster.

You can enable AD by adding `-Denable-autodiff=true` and/or `-Denable-directdiff=true` to the meson call.

[2019-05-24 08:43] talbring commented on #685
@TobiKattmann just a comment to your hints, because I forgot to mention this: ninja always builds in parallel using all available cores, so `-j` is not necessary. Furthermore, the installation directory can be set with `--prefix=<dir>` when calling meson (and using `ninja -C build install` afterwards for installation)

[2019-05-24 10:18] talbring commented on #688
I know it can be a little bit intimidating at the beginning but don't worry about messing up the code. There is nothing you can do wrong :) You can find more information on how the development works here: https://su2code.github.io/docs/Gitting-Started/

Let me know if you have more questions.

[2019-05-24 10:29] talbring commented on #685
Apparently meson looks for ninja by just trying to execute the command `ninja` with the python call `Popen`. And I guess it depends on the python version (on our cluster we have 3.6) whether the current working dir is included in the search path or not ... Then it is unfortunately not possible skip the step in between to tell meson where to find ninja ...

Then for now you'll have to do the follow

[2019-05-24 16:00] economon commented on #684
Let's leave it open for now, since it is a straightforward feature request.

Did you have luck with adjusting the max number of boxes?

[2019-05-24 16:06] economon commented on #687
@marcovanderbijl : I think this fix can also be consolidated with #686. Please just add more commits there or open a new PR as @talbring mentions. We are happy to help.

[2019-05-24 16:06] #687 closed

[2019-05-24 20:47] dean0927 opened #690 "Question about time varying inlet BC"
Hi,

I want to use SU2 to do adjoint optimization on a geometry that is accelerating. I haven't been able to find anything about implementing time varying inlet BC's, and I was wondering if this is a feature in SU2/what would be the best way for me to implement this.

Thanks!
Dean

[2019-05-24 21:07] marcovanderbijl commented on #684
yes, as expected it compiled without a warning. But as yet untested because there seems to be much terribly wrong with getting FFD_TWIST to work.

[2019-05-25 03:43] timjim333 commented on #683
@vdweide thank you very much for checking out the mesh. Do you know if this is something that I might be able to tweak in Pointwise? (Not sure if you are also a PW user), or is this likely a bug in the mesh export procedure?

@aeroamit I thought that might be the case - apologies, I only had general ones to hand.

[2019-05-25 05:17] vdweide commented on #683
I cannot say what is happening. However, Pointwise has a good support department and they may be able to help you.

[2019-05-25 08:23] timjim333 commented on #683
@vdweide @talbring Ok, thanks you for all your thoughts and help troubleshooting this so far - I guess it might be the SU2 export plugin introducing this as I can't seem to identify the mesh issue within Pointwise itself. I'll contact support and leave a message here if any workarounds are found.

[2019-05-25 14:11] aeroamit commented on #683
@timjim333

The guidelines you mentioned are perfect but geometry complexity at times push it beyond those numbers. Infact most of the Solvers (especially commercial) are robust enough to take (as I mentioned) the mesh crossing these specific guidelines. I think SU2 also handles it reasonably well.

Latest version of Pointwise has direct export to SU2 (I think 17.3 onwards or so). Did you try CGNS

[2019-05-29 20:53] economon commented on #690
@dean0927 : you might be in luck. In the open PR #672, we have some hooks for user-defined solutions, including BCs, that can be functions of both space and time (using BC_Custom() inside the solver classes). It may serve your purpose - give it a look.

[2019-05-31 14:27] marcovanderbijl opened #693 "question about grid_movement_structure.cpp SetFFDTwist"
I had a look at CSurfaceMovement::SetFFDTwist in grid_movement_structure.cpp

It starts with geometry->SegmentIntersectsPlane where the segment is the axes/line of rotation and the plane is the jPlane of the control points we wish to move.
However, unless the axes is EXACTLY parallel to the plane then there is always an intersection point (though maybe far in the distance), so why would this check

[2019-05-31 16:16] WallyMaier commented on #632
Yay! All the docs are up!

[2019-05-31 16:16] #632 closed

[2019-05-31 16:21] WallyMaier commented on #524
@all this still continues to be an issue.  The current pull request altering only the config_template is getting timed-out.

[2019-05-31 16:30] WallyMaier commented on #29
HDF5 issues also mentioned in #219

[2019-05-31 16:30] #29 closed

[2019-05-31 16:53] WallyMaier commented on #163
There isn't a good way to address this.

[2019-05-31 16:53] #163 closed

[2019-06-03 15:29] TobiKattmann opened #694 "STL-writer does not handle quad surface elements"
**Describe the bug**
*A clear and concise description of what the bug is and what you expect the behavior to be instead. If applicable, add screenshots to help explain your problem.*

Hi all,

The STL-file writer does not write quad surface elements (So far so good :) ). So in case of a Hexa-Grid (i.e. quad surface elements) the .stl is pretty much empty, which is not really what we want.
I will a

[2019-06-03 16:55] amirkb91 commented on #679
Hi Pedro,

After much deliberation, I think I have managed to follow the elasticity solver fairly closely. I'm having what feels like a very small problem but I can't manage to fix it. I've added a new method inside the solver class called "GetSA_cb1_solver" which spits out the value of cb1 (which there is registered in AD), and I've added a new method inside the numerics class called "SetSA_num_c

[2019-06-03 17:51] pcarruscag commented on #679
Hi Amir,
I think you need to declare su2double CSolver::GetSA_cb1_solver(void) as virtual, i.e.:
virtual su2double CSolver::GetSA_cb1_solver(void);
I guess the message you added also does not get printed?
"AKB: inside GetSA_cb1_solver returning cb1_adj as: "
Cheers,
Pedro

[2019-06-03 19:00] amirkb91 commented on #679
Hi Pedro,
Thanks. I already have done that, it's already declared as virtual inside the CSolver class.
The message does get printed. What's strange is that it prints cb1_adj=0., even though inside solver_adjoint_discrete.cpp, cb1_adj is assigned as cb1_adj = config->GetSA_cb1(); before being registered as an AD variable, and therefore is not 0.
Thanks
Amir

[2019-06-03 19:10] TobiKattmann commented on #694
![stl_quads_tris](https://user-images.githubusercontent.com/31306376/58827730-ff8ef300-8643-11e9-9737-f9fb595e06ec.JPG)

[2019-06-03 19:22] pcarruscag commented on #679
Ah yes sorry, I miss saw that. Well you seem to have the right "probes" in place, are you sure the "registervariables" method is being called on the disc adjoint turb solver? somewhere in CDiscAdjFluidIteration::RegisterInput

[2019-06-03 20:38] amirkb91 commented on #679
Yup, it is being called as far as I can tell. I've also put a print statement inside the registervariables method inside solver right after cb1_adj is registered with AD, and sure enough the screen outputs my statement along with the correct value of cb1_adj as read in from the config class.
Seems that only when we are inside the Iteration class and calling the solver method to return cb1_adj from

[2019-06-03 21:15] pcarruscag commented on #679
Yes but it is being called on which solver? Don't forget there is one instance of DiscAdjSolver for the bulk flow and another for the turbulence, you are currently trying to get the value from solver_container[iZone][iInst][MESH_0][ADJTURB_SOL] so make sure RegisterVariables is called for this solver, you may be calling it for ADJFLOW_SOL instead, and that will still give you the right value of cb

[2019-06-04 08:55] vdweide opened #696 "Large file support"
**Is your feature request related to a problem? Please describe.**
This is more a question. Has anybody tried to use the parallel binary IO for large files, i.e. larger than 2 Gb? Especially for the reading of the restart files I expect problems, as MPI_Type_indexed uses standard ints for computing the offsets.

**Describe the solution you'd like**
A test, or a confirmation from somebody, to check

[2019-06-04 14:25] dean0927 commented on #690
Sorry for the late response, and thanks for getting back to me! That definitely looks like what I'm looking for. I've taken a look through the code and I'm not entirely sure about what the syntax for including such a bc in the config file would be. Is there an example?

[2019-06-04 16:39] amirkb91 commented on #679
Hey,

Yeah you're right, RegisterVariables was being called for ADJFLOW_SOL. Changing it so that it calls for ADJTURB_SOL throws a seg error (haven't investigated why yet).

However, if I keep the RegisterVariables as is (for ADJFLOW_SOL) and instead I change the solver instance inside CDiscAdjFluidIteration::SetDependencies to solver_container[iZone][iInst][MESH_0][ADJFLOW_SOL], and try to get th

[2019-06-04 20:18] clarkpede commented on #685
What advantages does meson provide over Cmake? I have experience with CMake, but not with meson.

@talbring I'm not sure what you mean by "the syntax is also not very comfortable and it has too many features which we actually don't need."

I recently did a survey of the some of the most popular open-source C++ libraries, both inside and outside and outside of scientific computing.  The most popula

[2019-06-04 21:14] clarkpede opened #698 "Add Unit Testing to SU2"
I propose adding a unit-testing framework and unit-tests to SU2. After chatting with @economon, I've decided to move the discussion here to get additional input.

## What is unit testing?

For those not familiar with unit testing, unit testing allows the testing of small bits of behavior, ideally using isolated bits of code.  It is not intended to replace validation testing or formal verification

[2019-06-04 21:30] WallyMaier commented on #106
@economon what is the bug?

[2019-06-04 21:33] WallyMaier commented on #34
I believe this is implemented.

[2019-06-04 21:33] #34 closed

[2019-06-05 18:49] economon commented on #698
An important, but currently missing, component of our current testing/quality assurance procedures, in my opinion.

I would use it. For example, checking the output of the ComputeResidual() functions in each of the numerics classes are obvious candidates for this. I can think of many other "units" throughout the code, but this is another open discussion for the scope. @clarkpede could you give a c

[2019-06-05 20:50] juanjosealonso commented on #698
Clark,

Thanks for putting this idea out there.  In my experience, unit testing has been an intrinsic part of the the modus operandi in many multi-physics codes at DoE and has been well worth the additional effort.  In cases where it makes sense (as described by Clark and in the Stack Exchange discussion) I would advocate for using it moving forward.  There may also be some issues that arise multi

[2019-06-05 22:25] juanjosealonso commented on #698
I'll weigh in with a more in depth answer on a second email, but yes I've
found great value in being able to have a good set of unit tests.

Particularly when you don't have good acceptance tests (hard in a fast
moving research code), it gives a developer confidence that new changes
aren't being fundamental assumptions in the code. It lets sub module
developers build "armor" around those assumptio

[2019-06-06 16:20] WallyMaier commented on #38
PR #697

[2019-06-06 16:20] #38 closed

[2019-06-07 10:28] marcovanderbijl opened #703 "load_distribution.csv only made on passing WRT_SOL_FREQ= xxx not on reaching final solution"
with SU2_CFD (running in parallel mode and with PARAVIEW output)
load_distribution.csv
is saved to disk when writing solution file frequency WRT_SOL_FREQ= xxx is passed
However it is not refreshed when SU2_CFD has found the final solution on Convergence criteria.

After using parallel SU2_CFD one must run SU2_SOL to make the flow.vtk and surface_flow.vtk files but this action also does not make th

[2019-06-07 16:46] WallyMaier commented on #106
This has been brought up more specifically in #703

[2019-06-07 16:46] #106 closed

[2019-06-07 18:52] clarkpede commented on #698
As requested, here's an example of a unit test that I made.

For context: There's a couple of different modes for the Roe-low-dissipation convective blending.  If one of the "DUCROS" modes is selected, then the Ducros sensor values are used.  Otherwise, they're ignored.  Before commit [ac8b3bf](https://github.com/su2code/SU2/commit/ac8b3bf7636cc66ca7f47e15935942a6598e1a9f), the `SetRoe_Dissipation

[2019-06-09 15:30] talbring commented on #685
@clarkpede A small discussion on the pros and cons can be found here: https://mesonbuild.com/Comparisons.html. Or https://medium.com/@germandiagogomez/getting-started-with-meson-build-system-and-c-83270f444bee Of course this article is just a personal opinion, but he makes some important points.

From my experience I can really say that the syntax of meson is extremely simple and intuitive. I mana

[2019-06-09 16:36] talbring commented on #698
Thanks @clarkpede to take the initiative for this topic. I think unit-tests are a useful thing and we should think about having it in addition to the regression tests. Regarding the framework I am actually a little bit hesitant to use boost. Although we are already using it for tecio, in that case it is used in a part of the code which does not change frequently so it is fine if we are just shippi

[2019-06-09 18:22] WallyMaier commented on #81
@economon is this still something we should pursue?  If so, I can work on it.

[2019-06-10 12:08] clarkpede commented on #698
@talbring I agree with your assessment of Boost.  I think it's a heavyweight solution to a lightweight use-case.  We could always include just the unit-testing header (they offer a header-only version), but "people may want to use more and more features of boost," as you point out. If we as developers want to add Boost as a formal dependency for SU2, then that seems like a fine route.  But I have

[2019-06-10 12:17] clarkpede commented on #685
@talbring Thanks. That second link is very informative.  I think that SU2 could really use a more advanced build process, and meson seems like a good candidate.

As an example of why I think SU2 needs a better build process:  Right now for AD builds, the build process listed in the tutorial asks you to use the `preconfigure.py` script to download and update the codi and medi git submodules.  But t

[2019-06-10 12:21] clarkpede commented on #646
There's some related discussion in Issue #685.

[2019-06-10 12:22] clarkpede commented on #606
@alexfangman Is this still an issue for you? Do you have any other concerns?  If not, I'm going to close the issue.

[2019-06-10 13:12] clarkpede commented on #698
I just found [a blog post](https://codingnest.com/the-future-of-catch2/) on the future directions of Catch2.  There's a couple of important points for our discussion.  The developer plans to adopt a hybrid approach, with:

1. A stripped-down, header-only version.
2. A full-feature, typical library (i.e. it must be compiled and linked)

This approach is very similar to Boost's setup.  Google Test d

[2019-06-10 15:04] talbring commented on #685
Forgot to mention this, but the goal with a new build system is then to get rid of the preconfigure script altogether. Meson offers what they call wraps to automatically build and include dependencies (https://mesonbuild.com/Wrap-dependency-system-manual.html)

[2019-06-10 16:51] alexfangman commented on #606
@clarkpede I have not used the mesh adaptation tools since my last post (I was simply learning to use them for an undergrad project). With that said, I do not have any other concerns. It worked well for my application. I appreciate your help.

[2019-06-10 16:53] clarkpede commented on #606
No problem.

[2019-06-10 17:45] marcovanderbijl commented on #688
probably #689 is also old code? sorry, i'm only just starting with SU2 and don't know it's history

[2019-06-10 21:03] WallyMaier commented on #689
FFD_DIHEDRAL_ANGLE was removed at some point.  I removed the hooks in option_structure.hpp

[2019-06-10 21:03] #689 closed

[2019-06-11 15:05] #688 closed

[2019-06-11 16:07] amirkb91 commented on #679
Hi Pedro,

I can confirm that everything is now working correctly. I have tested the sensitivities against gradients from finite difference runs and the results match very closely.
I owe you a big thank you for your help with this, not only has my problem been solved but you also helped me learn a great deal about how the code works. Really appreciate it.
If we ever meet one day then drinks are on

[2019-06-11 16:29] pcarruscag commented on #679
Hi Amir,
Very glad to hear that, that it works and that drinks are on you (let me know if you ever come to Imperial).
Cheers,
Pedro

[2019-06-11 16:32] #679 closed

[2019-06-11 17:11] economon commented on #679
Just a note to say that I really appreciate this type of helpful, professional exchange. Nice job @pcarruscag!

[2019-06-11 17:16] economon commented on #81
This is related to #691. Perhaps we can bring any renaming there for discussion, including the potential division of files.

[2019-06-11 17:30] economon commented on #583
Bumping this thread...

Files are now starting to be divided in several PRs, but we should set a clear policy for this. Seems that the consensus is to carry one class per file, move the inlines to the headers, and create subfolders where possible (i.e., have a more flat hierarchy in the src directory based on logical groups such as numerics, geometry, solvers, etc). We do not have a clear naming c

[2019-06-11 17:34] economon commented on #696
@vdweide : I have not hit this issues yet, although I have not been paying too close of attention to the file size (although I have used some large ones). We can make a quick test of this with free stream through a very large cube mesh.

This also goes hand in hand with large mesh support, in my mind, since you won't care about the restart files if you can't get your large mesh loaded :). We can a

[2019-06-11 17:35] talbring commented on #583
Yep these are the things I also got so far. If anyone has better idea, please let us know! :+1:

[2019-06-11 17:58] clarkpede commented on #583
One comment I have-- @pcarruscag mentioned that it's somewhat difficult to break apart the "config" [blob](https://sourcemaking.com/antipatterns/the-blob).  I have a proposal that could work to break apart things.  Some config options, like those related to grid movement or timestepping or nondimensionalization, are used throughout a lot of the code.  It will be difficult to make headway there.  B

[2019-06-11 18:26] vdweide commented on #696
@economon, I expect to run into problems for grids containing around 250 million DOFs, depending a bit on how many variables you store in the restart file. We can definitely do this test with a dummy grid. As you added this to the RPSVV group, let's close this issue here.

[2019-06-12 00:47] precise-simulation opened #706 "Add Windows builds for v.6.2 and/or Windows build instructions"
Windows builds only available for v.6.0 which do not support the newer tutorials (such as the laminar incompressible flows due to new cfg file options).

[2019-06-12 10:26] pcarruscag commented on #583
@economon should we have one file per logical group with all the required includes, so that elsewhere you can still write "#include numerics" instead of having to include all one by one?

@clarkpede that would require passing a "matrix" of CConfigs like we do for numerics and so on right? Which would mean making things virtual and so the inlines would not be inline anymore (I think). I like the id

[2019-06-12 11:54] clarkpede commented on #583
@pcarruscag Yes, we would have a group (or matrix, I guess) of CConfigs.  We don't have to follow a rigorous "one-config-per-class" definition; we could make a lot of headway just by splitting things up very roughly.

If I understand, you're thinking we would have to have a base class with lots of virtual functions, and then derived classes with specific implementations.  I don't think that would

[2019-06-12 18:00] economon commented on #583
@pcarruscag : as for header issues, I believe the consensus was also moving toward completely splitting the headers by class as well. It is true that then we may need to include multiple headers one-by-one, but in most cases, I think that we may just need to add a handful (rather than all), and this division should also help us avoid some of the dependencies during compile time. Open to more opini

[2019-06-12 18:16] pcarruscag commented on #583
What I mean, taking numerics as example, is (I am not sure I explained it well):

In "numerics.hpp" you put all the includes so that in solver you do #include "numerics.hpp" instead of repeating the list (which in this case is quite long).

[2019-06-13 14:15] pcarruscag opened #711 "Linear solver / Jacobian improvements for robust convergence"
Just to keep track of things, this is what is currently being done in #700, #691, and #705.
If anyone wants to join efforts (there are possibly similar efforts going on in personal branches) either by coding / testing / benchmarking / providing suggestions / etc. please do.

[2019-06-13 17:12] #81 closed

[2019-06-13 23:41] economon commented on #696
Actually, let's open this back up so that it stays in the list in the RPSVV project. Otherwise the automation moves it to "Done"

[2019-06-14 02:51] dean0927 opened #712 "Issue building develop branch"
Hi,

I have no issues building the master branch, but when I tried to build the develop branch, I got the error
../../../Common/lib/../src/../include/././datatypes/codi_reverse_structure.hpp:40:10: fatal error: codi/tools/dataStore.hpp: No such file or directory
 #include "codi/tools/dataStore.hpp"

I am running on a VirtualBox VM with Ubuntu 18.04.2 LTS
GCC version 7.4.0
SU2 Version v6.2.0

[2019-06-14 09:08] rsanfer opened #713 "Bug on multi-zone file output"
**Describe the bug**
When running a multi-zone case, SU2 at the current develop throws a Segmentation fault after writing out the Paraview ASCII for the second zone. Debugging with cgdb points to an error in free() when the following deallocation is called:
[code]
Running under valgrind, the code goes past the error point, but points to the same instruction
[code]

If I run it in parallel and requ

[2019-06-14 09:12] talbring commented on #712
Hi @dean0927,

can you try a `git submodule update` ? It seems like the submodules are not up-to-date in your case.

[2019-06-14 16:33] WallyMaier commented on #41
This seems to be outdated.

[2019-06-14 16:33] #41 closed

[2019-06-14 16:35] WallyMaier commented on #46
Outdated

[2019-06-14 16:35] #46 closed

[2019-06-14 16:36] WallyMaier commented on #11
Output structure is being reworked.

[2019-06-14 16:36] #11 closed

[2019-06-15 02:14] dean0927 commented on #712
That worked, thanks! I was trying to install by downloading the zip file directly and not through git, which works for the master but not the develop branch.

[2019-06-15 02:14] #712 closed

[2019-06-17 17:36] clarkpede commented on #466
I'm going to jump on this too.  Is anyone working on solution interpolation (from one mesh to another)? @sravya91, are you still working on this? Did PR #672 introduce any capabilities to address interpolation?  This seems to be a common request from SU2 users: [\[1\]](https://www.cfd-online.com/Forums/su2/213321-su2-solution-interpolation.html) [\[2\]](https://www.cfd-online.com/Forums/su2/215920

[2019-06-17 17:44] juanjosealonso commented on #466
Folks,

This is indeed a very important capability for many different applications: from interpolation of solutions from coarser grids to finer grids, to querying an unsteady solution, to implementing numerical error estimates…and many others.  It is important that the search / interpolation routines work when interpolating between grids where some points in the target grid may fall outside of the

[2019-06-18 09:22] talbring commented on #583
I hope that we only have to include the specific headers in `driver_structure.cpp` and everywhere else just the `CNumerics.hpp`.

[2019-06-19 16:38] WallyMaier commented on #405
The CUSP issue addressed in #705.

[2019-06-19 16:38] #405 closed

[2019-06-19 16:39] #82 closed

[2019-06-19 18:47] economon commented on #583
Same. If we construct it correctly, I am hoping that we will actually only need to include certain individual headers in the solvers, etc. (or maybe just the parent numerics header w virtual function descriptions) so that we can break some of the dependencies that lead to longer build time.